# CODEOWNERS for aws-sdk-php
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for all files
*   @stobrien89
