*.phar
*.zip
build/artifacts
phpunit.xml
phpunit.functional.xml
test_services.json
/Config
/Makefile
.idea
.php_cs.cache
atlassian-ide-plugin.xml
aws-sdk-php.iml
.DS_Store
.swp
.build
composer.lock
vendor
docs/_build
docs/venv
docs/_themes/flask/flask_theme_support.pyc
docs/_ext/aws/__init__.pyc
src/package.xml
clover.xml
/.project
/.buildpath
/.settings
formathtml2.html
formathtml.html
Example.json.gz
Example.json
docs/theme/tree.latte
docs/theme/source.latte
docs/theme/sitemap.xml.latte
docs/theme/robots.txt.latte
docs/theme/resources/tree-vertical.png
docs/theme/resources/tree-last.png
docs/theme/resources/tree-hasnext.png
docs/theme/resources/tree-cleaner.png
docs/theme/resources/sort.png
docs/theme/resources/service-sprites.png
docs/theme/resources/resize.png
docs/theme/resources/inherit.png
docs/theme/resources/fonts/glyphicons-halflings-regular.woff
docs/theme/resources/fonts/glyphicons-halflings-regular.ttf
docs/theme/resources/fonts/glyphicons-halflings-regular.svg
docs/theme/resources/fonts/glyphicons-halflings-regular.eot
docs/theme/resources/css/style.css
docs/theme/resources/css/bootstrap.min.css
docs/theme/resources/collapsed.png
docs/theme/package.latte
docs/theme/overview.latte
docs/theme/opensearch.xml.latte
docs/theme/namespace.latte
docs/theme/js/main.js
docs/theme/js/jquery.sprintf.js
docs/theme/js/jquery.sortElements.js
docs/theme/js/jquery.min.js
docs/theme/js/jquery.cookie.js
docs/theme/js/jquery.autocomplete.js
docs/theme/function.latte
docs/theme/elementlist.js.latte
docs/theme/constant.latte
docs/theme/config.neon
docs/theme/combined.js.latte
docs/theme/class.latte
docs/theme/annotation-group.latte
docs/theme/@layout.latte
docs/theme/@elementlist.latte
docs/theme/404.latte
docs/classes/ShapeIterator.php
docs/classes/Service.php
docs/classes/RedirectMapBuilder.php
docs/classes/HtmlDocument.php
docs/classes/ExampleBuilder.php
docs/classes/EventStreamExampleBuilder.php
docs/classes/DocsBuilder.php
docs/classes/CodeSnippetGenerator.php
docs/apigen.neon
docs/_ext/aws/__pycache__/__init__.cpython-37.pyc
Dockerfile-good
Dockerfile
docker-compose.yml
credentials
aws-php-developers-guide.gz
*.php
