*.phar
*.zip
build/artifacts
phpunit.xml
phpunit.functional.xml
test_services.json
Config
./Makefile
.idea
atlassian-ide-plugin.xml
.DS_Store
.swp
.build
composer.lock
vendor
docs/_build
docs/_themes/flask/flask_theme_support.pyc
docs/_ext/aws/__init__.pyc
src/package.xml
