<?xml version="1.0"?>
<ruleset name="AWS SDK for PHP">
    <description>PHP_CodeSniffer rules for SDK middleware source files.</description>

    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <exclude-pattern>*/src/data/*</exclude-pattern>

    <rule ref="PSR12"/>
</ruleset>
