<?xml version="1.0"?>
<ruleset name="AWS SDK for PHP">
    <description>Checks PSR-12 formatting for SDK source files.</description>

    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="report" value="full"/>
    <arg name="warning-severity" value="0"/>
    <arg value="s"/>

    <exclude-pattern>*/src/data/*</exclude-pattern>

    <rule ref="PSR12"/>
</ruleset>
