parameters:
	ignoreErrors:
		- '#Aws\\Api\\Parser\\Crc32ValidatingParser::__construct\(\) does not call parent constructor from Aws\\Api\\Parser\\AbstractParser\.#' # intentional
		- '#Aws\\S3\\(RetryableMalformedResponse|GetBucketLocation|AmbiguousSuccess)Parser::__construct\(\) does not call parent constructor from Aws\\Api\\Parser\\AbstractParser\.#' # intentional
		- '#Access to an undefined property Aws\\HashingStream::\$stream\.#' # bug in guzzlehttp/psr7
	excludes_analyse:
		- %rootDir%/../../../src/Handler/GuzzleV5/*
