<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">

    <testsuites>
        <testsuite name="Aws">
            <directory>tests/Aws/Tests</directory>
        </testsuite>
    </testsuites>

    <!-- Exclude the integration tests in regular unit tests -->
    <groups>
        <exclude>
            <group>integration</group>
            <group>performance</group>
        </exclude>
    </groups>

    <logging>
        <log type="junit" target="build/artifacts/logs/junit.xml" logIncompleteSkipped="false" />
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Aws</directory>
            <exclude>
                <directory suffix="Interface.php">./src/Aws</directory>
                <directory>./src/Aws/**/Enum</directory>
                <directory>./src/Aws/**/Resources</directory>
                <directory>./src/Aws/Common/Exception/DomainException.php</directory>
                <directory>./src/Aws/Common/Exception/InvalidArgumentException.php</directory>
                <directory>./src/Aws/Common/Exception/LogicException.php</directory>
                <directory>./src/Aws/Common/Exception/OverflowException.php</directory>
                <directory>./src/Aws/Common/Exception/OutOfBoundsException.php</directory>
                <directory>./src/Aws/Common/Exception/RuntimeException.php</directory>
                <directory>./src/Aws/Common/Exception/UnexpectedValueException.php</directory>
                <directory suffix="Exception.php">./src/Aws/AutoScaling/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/CloudFormation/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/CloudFront/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/CloudWatch/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/DataPipeline/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/DirectConnect/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/DynamoDb/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/Ec2/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/ElastiCache/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/ElasticBeanstalk/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/ElasticLoadBalancing/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/ElasticTranscoder/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/Emr/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/Glacier/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/Iam/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/ImportExport/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/OpsWorks/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/Rds/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/Redshift/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/Route53/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/S3/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/Ses/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/SimpleDb/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/Sns/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/Sqs/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/StorageGateway/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/Sts/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/Support/Exception</directory>
                <directory suffix="Exception.php">./src/Aws/Swf/Exception</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
