{
    "includes": ["src/Aws/Common/aws-config.json"],
    "services": {
        "default_settings": {
            "params": {
                "access_key_id": "change_me",
                "secret_access_key": "change_me",
                "ssl.cert": false
            }
        }
    }
}
