{
    "includes": ["_aws"],
    "services": {
        "default_settings": {
            "params": {
                "key": "change_me",
                "secret": "change_me",
                "region": "us-east-1",
                "ssl.certificate_authority": true
            }
        },
        "cloudfront": {
            "extends": "cloudfront",
            "params": {
                "private_key": "change_me",
                "key_pair_id": "change_me"
            }
        }
    }
}
