{
    "includes": ["_aws"],
    "services": {
        "default_settings": {
            "params": {
                "key": "change_me",
                "secret": "change_me",
                "region": "us-east-1",
                "ssl.cert": false
            }
        }
    }
}
