{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-03-01",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"agreement-marketplace",
    "jsonVersion":"1.0",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"Agreement Service",
    "serviceFullName":"AWS Marketplace Agreement Service",
    "serviceId":"Marketplace Agreement",
    "signatureVersion":"v4",
    "signingName":"aws-marketplace",
    "targetPrefix":"AWSMPCommerceService_v20200301",
    "uid":"marketplace-agreement-2020-03-01"
  },
  "operations":{
    "BatchCreateBillingAdjustmentRequest":{
      "name":"BatchCreateBillingAdjustmentRequest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchCreateBillingAdjustmentRequestInput"},
      "output":{"shape":"BatchCreateBillingAdjustmentRequestOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ]
    },
    "CancelAgreementCancellationRequest":{
      "name":"CancelAgreementCancellationRequest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelAgreementCancellationRequestInput"},
      "output":{"shape":"CancelAgreementCancellationRequestOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ]
    },
    "CancelAgreementPaymentRequest":{
      "name":"CancelAgreementPaymentRequest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelAgreementPaymentRequestInput"},
      "output":{"shape":"CancelAgreementPaymentRequestOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ]
    },
    "DescribeAgreement":{
      "name":"DescribeAgreement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAgreementInput"},
      "output":{"shape":"DescribeAgreementOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetAgreementCancellationRequest":{
      "name":"GetAgreementCancellationRequest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAgreementCancellationRequestInput"},
      "output":{"shape":"GetAgreementCancellationRequestOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetAgreementPaymentRequest":{
      "name":"GetAgreementPaymentRequest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAgreementPaymentRequestInput"},
      "output":{"shape":"GetAgreementPaymentRequestOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetAgreementTerms":{
      "name":"GetAgreementTerms",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAgreementTermsInput"},
      "output":{"shape":"GetAgreementTermsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetBillingAdjustmentRequest":{
      "name":"GetBillingAdjustmentRequest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetBillingAdjustmentRequestInput"},
      "output":{"shape":"GetBillingAdjustmentRequestOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListAgreementCancellationRequests":{
      "name":"ListAgreementCancellationRequests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAgreementCancellationRequestsInput"},
      "output":{"shape":"ListAgreementCancellationRequestsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListAgreementInvoiceLineItems":{
      "name":"ListAgreementInvoiceLineItems",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAgreementInvoiceLineItemsInput"},
      "output":{"shape":"ListAgreementInvoiceLineItemsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListAgreementPaymentRequests":{
      "name":"ListAgreementPaymentRequests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAgreementPaymentRequestsInput"},
      "output":{"shape":"ListAgreementPaymentRequestsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListBillingAdjustmentRequests":{
      "name":"ListBillingAdjustmentRequests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListBillingAdjustmentRequestsInput"},
      "output":{"shape":"ListBillingAdjustmentRequestsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "SearchAgreements":{
      "name":"SearchAgreements",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchAgreementsInput"},
      "output":{"shape":"SearchAgreementsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "SendAgreementCancellationRequest":{
      "name":"SendAgreementCancellationRequest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendAgreementCancellationRequestInput"},
      "output":{"shape":"SendAgreementCancellationRequestOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ]
    },
    "SendAgreementPaymentRequest":{
      "name":"SendAgreementPaymentRequest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendAgreementPaymentRequestInput"},
      "output":{"shape":"SendAgreementPaymentRequestOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ]
    }
  },
  "shapes":{
    "AWSAccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"[0-9]+"
    },
    "AcceptedTerm":{
      "type":"structure",
      "members":{
        "legalTerm":{"shape":"LegalTerm"},
        "supportTerm":{"shape":"SupportTerm"},
        "renewalTerm":{"shape":"RenewalTerm"},
        "usageBasedPricingTerm":{"shape":"UsageBasedPricingTerm"},
        "configurableUpfrontPricingTerm":{"shape":"ConfigurableUpfrontPricingTerm"},
        "byolPricingTerm":{"shape":"ByolPricingTerm"},
        "recurringPaymentTerm":{"shape":"RecurringPaymentTerm"},
        "validityTerm":{"shape":"ValidityTerm"},
        "paymentScheduleTerm":{"shape":"PaymentScheduleTerm"},
        "freeTrialPricingTerm":{"shape":"FreeTrialPricingTerm"},
        "fixedUpfrontPricingTerm":{"shape":"FixedUpfrontPricingTerm"},
        "variablePaymentTerm":{"shape":"VariablePaymentTerm"}
      },
      "union":true
    },
    "AcceptedTermList":{
      "type":"list",
      "member":{"shape":"AcceptedTerm"}
    },
    "Acceptor":{
      "type":"structure",
      "members":{
        "accountId":{"shape":"AWSAccountId"}
      }
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "requestId":{"shape":"RequestId"},
        "message":{"shape":"ExceptionMessage"}
      },
      "exception":true
    },
    "AgreementCancellationRequestCancellationReason":{
      "type":"string",
      "max":2000,
      "min":1,
      "pattern":".+",
      "sensitive":true
    },
    "AgreementCancellationRequestDescription":{
      "type":"string",
      "max":2000,
      "min":1,
      "pattern":".+",
      "sensitive":true
    },
    "AgreementCancellationRequestId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"acr-[a-zA-Z0-9]+"
    },
    "AgreementCancellationRequestReasonCode":{
      "type":"string",
      "enum":[
        "INCORRECT_TERMS_ACCEPTED",
        "REPLACING_AGREEMENT",
        "TEST_AGREEMENT",
        "ALTERNATIVE_PROCUREMENT_CHANNEL",
        "PRODUCT_DISCONTINUED",
        "UNINTENDED_RENEWAL",
        "BUYER_DISSATISFACTION",
        "OTHER"
      ]
    },
    "AgreementCancellationRequestStatus":{
      "type":"string",
      "enum":[
        "PENDING_APPROVAL",
        "APPROVED",
        "REJECTED",
        "CANCELLED",
        "VALIDATION_FAILED"
      ]
    },
    "AgreementCancellationRequestStatusMessage":{
      "type":"string",
      "max":2000,
      "min":1
    },
    "AgreementCancellationRequestSummary":{
      "type":"structure",
      "members":{
        "agreementCancellationRequestId":{"shape":"AgreementCancellationRequestId"},
        "agreementId":{"shape":"AgreementId"},
        "status":{"shape":"AgreementCancellationRequestStatus"},
        "reasonCode":{"shape":"AgreementCancellationRequestReasonCode"},
        "agreementType":{"shape":"AgreementType"},
        "catalog":{"shape":"Catalog"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "AgreementCancellationRequestSummaryList":{
      "type":"list",
      "member":{"shape":"AgreementCancellationRequestSummary"}
    },
    "AgreementId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9_/-]+"
    },
    "AgreementInvoiceLineItemGroupSummaries":{
      "type":"list",
      "member":{"shape":"AgreementInvoiceLineItemGroupSummary"}
    },
    "AgreementInvoiceLineItemGroupSummary":{
      "type":"structure",
      "members":{
        "agreementId":{"shape":"ResourceId"},
        "invoiceId":{"shape":"ResourceId"},
        "pricingCurrencyAmount":{"shape":"PricingCurrencyAmount"},
        "invoiceBillingPeriod":{"shape":"InvoiceBillingPeriod"},
        "issuedTime":{"shape":"Timestamp"},
        "invoiceType":{"shape":"InvoiceType"},
        "invoicingEntity":{"shape":"InvoicingEntity"}
      }
    },
    "AgreementResourceType":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z]+"
    },
    "AgreementStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "ARCHIVED",
        "CANCELLED",
        "EXPIRED",
        "RENEWED",
        "REPLACED",
        "ROLLED_BACK",
        "SUPERSEDED",
        "TERMINATED"
      ]
    },
    "AgreementType":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z]+"
    },
    "AgreementViewSummary":{
      "type":"structure",
      "members":{
        "agreementId":{"shape":"ResourceId"},
        "acceptanceTime":{"shape":"Timestamp"},
        "startTime":{"shape":"Timestamp"},
        "endTime":{"shape":"Timestamp"},
        "agreementType":{"shape":"AgreementType"},
        "acceptor":{"shape":"Acceptor"},
        "proposer":{"shape":"Proposer"},
        "proposalSummary":{"shape":"ProposalSummary"},
        "status":{"shape":"AgreementStatus"}
      }
    },
    "AgreementViewSummaryList":{
      "type":"list",
      "member":{"shape":"AgreementViewSummary"}
    },
    "BatchCreateBillingAdjustmentError":{
      "type":"structure",
      "required":[
        "code",
        "message",
        "clientToken"
      ],
      "members":{
        "code":{"shape":"BillingAdjustmentErrorCode"},
        "message":{"shape":"String"},
        "clientToken":{"shape":"ClientToken"}
      }
    },
    "BatchCreateBillingAdjustmentErrorList":{
      "type":"list",
      "member":{"shape":"BatchCreateBillingAdjustmentError"}
    },
    "BatchCreateBillingAdjustmentItem":{
      "type":"structure",
      "required":[
        "billingAdjustmentRequestId",
        "clientToken"
      ],
      "members":{
        "billingAdjustmentRequestId":{"shape":"BillingAdjustmentRequestId"},
        "clientToken":{"shape":"ClientToken"}
      }
    },
    "BatchCreateBillingAdjustmentItemList":{
      "type":"list",
      "member":{"shape":"BatchCreateBillingAdjustmentItem"}
    },
    "BatchCreateBillingAdjustmentRequestEntry":{
      "type":"structure",
      "required":[
        "agreementId",
        "originalInvoiceId",
        "adjustmentAmount",
        "currencyCode",
        "adjustmentReasonCode",
        "clientToken"
      ],
      "members":{
        "agreementId":{"shape":"AgreementId"},
        "originalInvoiceId":{"shape":"InvoiceId"},
        "adjustmentAmount":{"shape":"PositiveAmountUpto8Decimals"},
        "currencyCode":{"shape":"CurrencyCode"},
        "adjustmentReasonCode":{"shape":"BillingAdjustmentReasonCode"},
        "description":{"shape":"BillingAdjustmentDescription"},
        "clientToken":{"shape":"ClientToken"}
      }
    },
    "BatchCreateBillingAdjustmentRequestEntryList":{
      "type":"list",
      "member":{"shape":"BatchCreateBillingAdjustmentRequestEntry"}
    },
    "BatchCreateBillingAdjustmentRequestInput":{
      "type":"structure",
      "required":["billingAdjustmentRequestEntries"],
      "members":{
        "billingAdjustmentRequestEntries":{"shape":"BatchCreateBillingAdjustmentRequestEntryList"}
      }
    },
    "BatchCreateBillingAdjustmentRequestOutput":{
      "type":"structure",
      "required":[
        "items",
        "errors"
      ],
      "members":{
        "items":{"shape":"BatchCreateBillingAdjustmentItemList"},
        "errors":{"shape":"BatchCreateBillingAdjustmentErrorList"}
      }
    },
    "BillingAdjustmentDescription":{
      "type":"string",
      "max":500,
      "min":0,
      "pattern":".+",
      "sensitive":true
    },
    "BillingAdjustmentErrorCode":{
      "type":"string",
      "enum":[
        "CONFLICT_EXCEPTION",
        "VALIDATION_EXCEPTION",
        "RESOURCE_NOT_FOUND_EXCEPTION",
        "INTERNAL_FAILURE"
      ]
    },
    "BillingAdjustmentReasonCode":{
      "type":"string",
      "enum":[
        "INCORRECT_TERMS_ACCEPTED",
        "INCORRECT_METERING",
        "TEST_ENVIRONMENT_CHARGES",
        "ALTERNATIVE_PROCUREMENT_CHANNEL",
        "UNINTENDED_RENEWAL",
        "BUYER_DISSATISFACTION",
        "OTHER"
      ]
    },
    "BillingAdjustmentRequestId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"ba-[a-zA-Z0-9]+"
    },
    "BillingAdjustmentStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "VALIDATION_FAILED",
        "COMPLETED"
      ]
    },
    "BillingAdjustmentStatusMessage":{
      "type":"string",
      "max":500,
      "min":0
    },
    "BillingAdjustmentSummary":{
      "type":"structure",
      "required":[
        "billingAdjustmentRequestId",
        "originalInvoiceId",
        "adjustmentAmount",
        "currencyCode",
        "status",
        "agreementId",
        "createdAt",
        "updatedAt",
        "agreementType",
        "catalog"
      ],
      "members":{
        "billingAdjustmentRequestId":{"shape":"BillingAdjustmentRequestId"},
        "originalInvoiceId":{"shape":"InvoiceId"},
        "adjustmentAmount":{"shape":"PositiveAmountUpto8Decimals"},
        "currencyCode":{"shape":"CurrencyCode"},
        "status":{"shape":"BillingAdjustmentStatus"},
        "agreementId":{"shape":"AgreementId"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "agreementType":{"shape":"AgreementType"},
        "catalog":{"shape":"Catalog"}
      }
    },
    "BillingAdjustmentSummaryList":{
      "type":"list",
      "member":{"shape":"BillingAdjustmentSummary"}
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BoundedString":{
      "type":"string",
      "max":4096,
      "min":1,
      "pattern":"(.)+"
    },
    "ByolPricingTerm":{
      "type":"structure",
      "members":{
        "type":{"shape":"UnversionedTermType"}
      }
    },
    "CancelAgreementCancellationRequestInput":{
      "type":"structure",
      "required":[
        "agreementId",
        "agreementCancellationRequestId",
        "cancellationReason"
      ],
      "members":{
        "agreementId":{"shape":"AgreementId"},
        "agreementCancellationRequestId":{"shape":"AgreementCancellationRequestId"},
        "cancellationReason":{"shape":"AgreementCancellationRequestCancellationReason"}
      }
    },
    "CancelAgreementCancellationRequestOutput":{
      "type":"structure",
      "members":{
        "agreementCancellationRequestId":{"shape":"AgreementCancellationRequestId"},
        "agreementId":{"shape":"AgreementId"},
        "reasonCode":{"shape":"AgreementCancellationRequestReasonCode"},
        "description":{"shape":"AgreementCancellationRequestDescription"},
        "status":{"shape":"AgreementCancellationRequestStatus"},
        "statusMessage":{"shape":"AgreementCancellationRequestStatusMessage"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "CancelAgreementPaymentRequestInput":{
      "type":"structure",
      "required":[
        "paymentRequestId",
        "agreementId"
      ],
      "members":{
        "paymentRequestId":{"shape":"PaymentRequestId"},
        "agreementId":{"shape":"AgreementId"}
      }
    },
    "CancelAgreementPaymentRequestOutput":{
      "type":"structure",
      "members":{
        "paymentRequestId":{"shape":"PaymentRequestId"},
        "agreementId":{"shape":"AgreementId"},
        "status":{"shape":"PaymentRequestStatus"},
        "name":{"shape":"PaymentRequestName"},
        "description":{"shape":"PaymentRequestDescription"},
        "chargeAmount":{"shape":"PositiveAmountUpto8Decimals"},
        "currencyCode":{"shape":"CurrencyCode"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "Catalog":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9.-]+"
    },
    "ChargeId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"ch-[a-zA-Z0-9]+"
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "ConfigurableUpfrontPricingTerm":{
      "type":"structure",
      "members":{
        "type":{"shape":"UnversionedTermType"},
        "currencyCode":{"shape":"CurrencyCode"},
        "rateCards":{"shape":"ConfigurableUpfrontRateCardList"},
        "configuration":{"shape":"ConfigurableUpfrontPricingTermConfiguration"}
      }
    },
    "ConfigurableUpfrontPricingTermConfiguration":{
      "type":"structure",
      "required":[
        "selectorValue",
        "dimensions"
      ],
      "members":{
        "selectorValue":{"shape":"BoundedString"},
        "dimensions":{"shape":"DimensionList"}
      }
    },
    "ConfigurableUpfrontRateCardItem":{
      "type":"structure",
      "members":{
        "selector":{"shape":"Selector"},
        "constraints":{"shape":"Constraints"},
        "rateCard":{"shape":"RateCardList"}
      }
    },
    "ConfigurableUpfrontRateCardList":{
      "type":"list",
      "member":{"shape":"ConfigurableUpfrontRateCardItem"}
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "requestId":{"shape":"RequestId"},
        "message":{"shape":"ExceptionMessage"},
        "resourceId":{"shape":"ResourceId"},
        "resourceType":{"shape":"ResourceType"}
      },
      "exception":true
    },
    "Constraints":{
      "type":"structure",
      "members":{
        "multipleDimensionSelection":{"shape":"BoundedString"},
        "quantityConfiguration":{"shape":"BoundedString"}
      }
    },
    "CurrencyCode":{
      "type":"string",
      "max":3,
      "min":3,
      "pattern":"[A-Z]+"
    },
    "DescribeAgreementInput":{
      "type":"structure",
      "required":["agreementId"],
      "members":{
        "agreementId":{"shape":"ResourceId"}
      }
    },
    "DescribeAgreementOutput":{
      "type":"structure",
      "members":{
        "agreementId":{"shape":"ResourceId"},
        "acceptor":{"shape":"Acceptor"},
        "proposer":{"shape":"Proposer"},
        "startTime":{"shape":"Timestamp"},
        "endTime":{"shape":"Timestamp"},
        "acceptanceTime":{"shape":"Timestamp"},
        "agreementType":{"shape":"AgreementType"},
        "estimatedCharges":{"shape":"EstimatedCharges"},
        "proposalSummary":{"shape":"ProposalSummary"},
        "status":{"shape":"AgreementStatus"}
      }
    },
    "Dimension":{
      "type":"structure",
      "required":[
        "dimensionKey",
        "dimensionValue"
      ],
      "members":{
        "dimensionKey":{"shape":"BoundedString"},
        "dimensionValue":{"shape":"ZeroValueInteger"}
      }
    },
    "DimensionList":{
      "type":"list",
      "member":{"shape":"Dimension"},
      "min":1
    },
    "DocumentItem":{
      "type":"structure",
      "members":{
        "type":{"shape":"BoundedString"},
        "url":{"shape":"BoundedString"},
        "version":{"shape":"BoundedString"}
      }
    },
    "DocumentList":{
      "type":"list",
      "member":{"shape":"DocumentItem"}
    },
    "EstimatedCharges":{
      "type":"structure",
      "members":{
        "currencyCode":{"shape":"CurrencyCode"},
        "agreementValue":{"shape":"BoundedString"}
      }
    },
    "ExceptionMessage":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "Filter":{
      "type":"structure",
      "members":{
        "name":{"shape":"FilterName"},
        "values":{"shape":"FilterValueList"}
      }
    },
    "FilterList":{
      "type":"list",
      "member":{"shape":"Filter"},
      "max":10,
      "min":1
    },
    "FilterName":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"[A-Za-z_]+"
    },
    "FilterValue":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9+:_-]+"
    },
    "FilterValueList":{
      "type":"list",
      "member":{"shape":"FilterValue"},
      "max":1,
      "min":1
    },
    "FixedUpfrontPricingTerm":{
      "type":"structure",
      "members":{
        "type":{"shape":"UnversionedTermType"},
        "currencyCode":{"shape":"CurrencyCode"},
        "duration":{"shape":"BoundedString"},
        "price":{"shape":"BoundedString"},
        "grants":{"shape":"GrantList"}
      }
    },
    "FreeTrialPricingTerm":{
      "type":"structure",
      "members":{
        "type":{"shape":"UnversionedTermType"},
        "duration":{"shape":"BoundedString"},
        "grants":{"shape":"GrantList"}
      }
    },
    "GetAgreementCancellationRequestInput":{
      "type":"structure",
      "required":[
        "agreementCancellationRequestId",
        "agreementId"
      ],
      "members":{
        "agreementCancellationRequestId":{"shape":"AgreementCancellationRequestId"},
        "agreementId":{"shape":"AgreementId"}
      }
    },
    "GetAgreementCancellationRequestOutput":{
      "type":"structure",
      "members":{
        "agreementCancellationRequestId":{"shape":"AgreementCancellationRequestId"},
        "agreementId":{"shape":"AgreementId"},
        "reasonCode":{"shape":"AgreementCancellationRequestReasonCode"},
        "description":{"shape":"AgreementCancellationRequestDescription"},
        "status":{"shape":"AgreementCancellationRequestStatus"},
        "statusMessage":{"shape":"AgreementCancellationRequestStatusMessage"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "GetAgreementPaymentRequestInput":{
      "type":"structure",
      "required":[
        "paymentRequestId",
        "agreementId"
      ],
      "members":{
        "paymentRequestId":{"shape":"PaymentRequestId"},
        "agreementId":{"shape":"AgreementId"}
      }
    },
    "GetAgreementPaymentRequestOutput":{
      "type":"structure",
      "members":{
        "paymentRequestId":{"shape":"PaymentRequestId"},
        "agreementId":{"shape":"AgreementId"},
        "status":{"shape":"PaymentRequestStatus"},
        "statusMessage":{"shape":"PaymentRequestStatusMessage"},
        "name":{"shape":"PaymentRequestName"},
        "description":{"shape":"PaymentRequestDescription"},
        "chargeId":{"shape":"ChargeId"},
        "chargeAmount":{"shape":"PositiveAmountUpto8Decimals"},
        "currencyCode":{"shape":"CurrencyCode"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "GetAgreementTermsInput":{
      "type":"structure",
      "required":["agreementId"],
      "members":{
        "agreementId":{"shape":"ResourceId"},
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "GetAgreementTermsOutput":{
      "type":"structure",
      "members":{
        "acceptedTerms":{"shape":"AcceptedTermList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "GetBillingAdjustmentRequestInput":{
      "type":"structure",
      "required":[
        "agreementId",
        "billingAdjustmentRequestId"
      ],
      "members":{
        "agreementId":{"shape":"AgreementId"},
        "billingAdjustmentRequestId":{"shape":"BillingAdjustmentRequestId"}
      }
    },
    "GetBillingAdjustmentRequestOutput":{
      "type":"structure",
      "required":[
        "billingAdjustmentRequestId",
        "agreementId",
        "adjustmentReasonCode",
        "originalInvoiceId",
        "adjustmentAmount",
        "currencyCode",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "billingAdjustmentRequestId":{"shape":"BillingAdjustmentRequestId"},
        "agreementId":{"shape":"AgreementId"},
        "adjustmentReasonCode":{"shape":"BillingAdjustmentReasonCode"},
        "description":{"shape":"String"},
        "originalInvoiceId":{"shape":"InvoiceId"},
        "adjustmentAmount":{"shape":"PositiveAmountUpto8Decimals"},
        "currencyCode":{"shape":"CurrencyCode"},
        "status":{"shape":"BillingAdjustmentStatus"},
        "statusMessage":{"shape":"BillingAdjustmentStatusMessage"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "GrantItem":{
      "type":"structure",
      "members":{
        "dimensionKey":{"shape":"BoundedString"},
        "maxQuantity":{"shape":"PositiveIntegerWithDefaultValueOne"}
      }
    },
    "GrantList":{
      "type":"list",
      "member":{"shape":"GrantItem"}
    },
    "ISO8601Duration":{
      "type":"string",
      "pattern":"([-+]?)P(?:([-+]?[0-9]+)D)?(T(?:([-+]?[0-9]+)H)?(?:([-+]?[0-9]+)M)?(?:([-+]?[0-9]+)(?:[.,]([0-9]{0,9}))?S)?)?"
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "requestId":{"shape":"RequestId"},
        "message":{"shape":"ExceptionMessage"}
      },
      "exception":true,
      "fault":true
    },
    "InvoiceBillingPeriod":{
      "type":"structure",
      "required":[
        "month",
        "year"
      ],
      "members":{
        "month":{"shape":"InvoiceBillingPeriodMonthInteger"},
        "year":{"shape":"InvoiceBillingPeriodYearInteger"}
      }
    },
    "InvoiceBillingPeriodMonthInteger":{
      "type":"integer",
      "box":true,
      "max":12,
      "min":1
    },
    "InvoiceBillingPeriodYearInteger":{
      "type":"integer",
      "box":true,
      "max":2050,
      "min":2023
    },
    "InvoiceId":{
      "type":"string",
      "max":255,
      "min":1
    },
    "InvoiceType":{
      "type":"string",
      "enum":[
        "INVOICE",
        "CREDIT_MEMO"
      ]
    },
    "InvoicingEntity":{
      "type":"structure",
      "members":{
        "legalName":{"shape":"BoundedString"},
        "branchName":{"shape":"BoundedString"}
      }
    },
    "LegalTerm":{
      "type":"structure",
      "members":{
        "type":{"shape":"UnversionedTermType"},
        "documents":{"shape":"DocumentList"}
      }
    },
    "LineItemGroupBy":{
      "type":"string",
      "enum":["INVOICE_ID"]
    },
    "ListAgreementCancellationRequestsInput":{
      "type":"structure",
      "required":["partyType"],
      "members":{
        "partyType":{"shape":"PartyType"},
        "agreementId":{"shape":"AgreementId"},
        "status":{"shape":"AgreementCancellationRequestStatus"},
        "agreementType":{"shape":"AgreementType"},
        "catalog":{"shape":"Catalog"},
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListAgreementCancellationRequestsOutput":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"NextToken"},
        "items":{"shape":"AgreementCancellationRequestSummaryList"}
      }
    },
    "ListAgreementInvoiceLineItemsInput":{
      "type":"structure",
      "required":[
        "agreementId",
        "groupBy"
      ],
      "members":{
        "agreementId":{"shape":"ResourceId"},
        "groupBy":{"shape":"LineItemGroupBy"},
        "invoiceId":{"shape":"ResourceId"},
        "invoiceType":{"shape":"InvoiceType"},
        "invoiceBillingPeriod":{"shape":"InvoiceBillingPeriod"},
        "beforeIssuedTime":{"shape":"Timestamp"},
        "afterIssuedTime":{"shape":"Timestamp"},
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListAgreementInvoiceLineItemsOutput":{
      "type":"structure",
      "members":{
        "agreementInvoiceLineItemGroupSummaries":{"shape":"AgreementInvoiceLineItemGroupSummaries"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListAgreementPaymentRequestsInput":{
      "type":"structure",
      "required":["partyType"],
      "members":{
        "partyType":{"shape":"PartyType"},
        "agreementType":{"shape":"AgreementType"},
        "catalog":{"shape":"Catalog"},
        "agreementId":{"shape":"AgreementId"},
        "status":{"shape":"PaymentRequestStatus"},
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListAgreementPaymentRequestsOutput":{
      "type":"structure",
      "required":["items"],
      "members":{
        "nextToken":{"shape":"NextToken"},
        "items":{"shape":"PaymentRequestSummaryList"}
      }
    },
    "ListBillingAdjustmentRequestsInput":{
      "type":"structure",
      "members":{
        "agreementId":{"shape":"AgreementId"},
        "status":{"shape":"BillingAdjustmentStatus"},
        "createdAfter":{"shape":"Timestamp"},
        "createdBefore":{"shape":"Timestamp"},
        "maxResults":{"shape":"MaxResults"},
        "catalog":{"shape":"Catalog"},
        "agreementType":{"shape":"AgreementType"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListBillingAdjustmentRequestsOutput":{
      "type":"structure",
      "required":["items"],
      "members":{
        "nextToken":{"shape":"NextToken"},
        "items":{"shape":"BillingAdjustmentSummaryList"}
      }
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "NextToken":{
      "type":"string",
      "max":8192,
      "min":0,
      "pattern":"[a-zA-Z0-9+/=_-]+"
    },
    "OfferId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"\\S{1,64}"
    },
    "OfferSetId":{
      "type":"string",
      "pattern":"\\S{1,50}"
    },
    "PartyType":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"[A-Za-z]+"
    },
    "PaymentRequestApprovalStrategy":{
      "type":"string",
      "enum":[
        "AUTO_APPROVE_ON_EXPIRATION",
        "WAIT_FOR_APPROVAL"
      ]
    },
    "PaymentRequestDescription":{
      "type":"string",
      "max":2000,
      "min":1,
      "pattern":".+",
      "sensitive":true
    },
    "PaymentRequestId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"pr-[a-zA-Z0-9]+"
    },
    "PaymentRequestName":{
      "type":"string",
      "max":64,
      "min":5,
      "pattern":".+"
    },
    "PaymentRequestStatus":{
      "type":"string",
      "enum":[
        "VALIDATING",
        "VALIDATION_FAILED",
        "PENDING_APPROVAL",
        "APPROVED",
        "REJECTED",
        "CANCELLED"
      ]
    },
    "PaymentRequestStatusMessage":{"type":"string"},
    "PaymentRequestSummary":{
      "type":"structure",
      "members":{
        "paymentRequestId":{"shape":"PaymentRequestId"},
        "agreementId":{"shape":"AgreementId"},
        "status":{"shape":"PaymentRequestStatus"},
        "name":{"shape":"PaymentRequestName"},
        "chargeId":{"shape":"ChargeId"},
        "chargeAmount":{"shape":"PositiveAmountUpto8Decimals"},
        "currencyCode":{"shape":"CurrencyCode"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "PaymentRequestSummaryList":{
      "type":"list",
      "member":{"shape":"PaymentRequestSummary"}
    },
    "PaymentScheduleTerm":{
      "type":"structure",
      "members":{
        "type":{"shape":"UnversionedTermType"},
        "currencyCode":{"shape":"CurrencyCode"},
        "schedule":{"shape":"ScheduleList"}
      }
    },
    "PositiveAmountUpto8Decimals":{
      "type":"string",
      "pattern":"[0-9]*(\\.[0-9]{0,8})?"
    },
    "PositiveIntegerWithDefaultValueOne":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "PricingCurrencyAmount":{
      "type":"structure",
      "members":{
        "amount":{"shape":"BoundedString"},
        "maxAdjustmentAmount":{"shape":"BoundedString"},
        "currencyCode":{"shape":"CurrencyCode"}
      }
    },
    "ProposalSummary":{
      "type":"structure",
      "members":{
        "resources":{"shape":"Resources"},
        "offerId":{"shape":"OfferId"},
        "offerSetId":{"shape":"OfferSetId"}
      }
    },
    "Proposer":{
      "type":"structure",
      "members":{
        "accountId":{"shape":"AWSAccountId"}
      }
    },
    "RateCardItem":{
      "type":"structure",
      "members":{
        "dimensionKey":{"shape":"BoundedString"},
        "price":{"shape":"BoundedString"}
      }
    },
    "RateCardList":{
      "type":"list",
      "member":{"shape":"RateCardItem"}
    },
    "RecurringPaymentTerm":{
      "type":"structure",
      "members":{
        "type":{"shape":"UnversionedTermType"},
        "currencyCode":{"shape":"CurrencyCode"},
        "billingPeriod":{"shape":"BoundedString"},
        "price":{"shape":"BoundedString"}
      }
    },
    "RenewalTerm":{
      "type":"structure",
      "members":{
        "type":{"shape":"UnversionedTermType"},
        "configuration":{"shape":"RenewalTermConfiguration"}
      }
    },
    "RenewalTermConfiguration":{
      "type":"structure",
      "required":["enableAutoRenew"],
      "members":{
        "enableAutoRenew":{"shape":"Boolean"}
      }
    },
    "RequestId":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[A-Za-z0-9-]+"
    },
    "Resource":{
      "type":"structure",
      "members":{
        "id":{"shape":"ResourceId"},
        "type":{"shape":"AgreementResourceType"}
      }
    },
    "ResourceId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9_/-]+"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "requestId":{"shape":"RequestId"},
        "message":{"shape":"ExceptionMessage"},
        "resourceId":{"shape":"ResourceId"},
        "resourceType":{"shape":"ResourceType"}
      },
      "exception":true
    },
    "ResourceType":{
      "type":"string",
      "enum":[
        "Agreement",
        "Charge",
        "PaymentRequest"
      ]
    },
    "Resources":{
      "type":"list",
      "member":{"shape":"Resource"}
    },
    "ScheduleItem":{
      "type":"structure",
      "members":{
        "chargeDate":{"shape":"Timestamp"},
        "chargeAmount":{"shape":"BoundedString"}
      }
    },
    "ScheduleList":{
      "type":"list",
      "member":{"shape":"ScheduleItem"}
    },
    "SearchAgreementsInput":{
      "type":"structure",
      "members":{
        "catalog":{"shape":"Catalog"},
        "filters":{"shape":"FilterList"},
        "sort":{"shape":"Sort"},
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "SearchAgreementsOutput":{
      "type":"structure",
      "members":{
        "agreementViewSummaries":{"shape":"AgreementViewSummaryList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "Selector":{
      "type":"structure",
      "members":{
        "type":{"shape":"BoundedString"},
        "value":{"shape":"BoundedString"}
      }
    },
    "SendAgreementCancellationRequestInput":{
      "type":"structure",
      "required":[
        "agreementId",
        "reasonCode"
      ],
      "members":{
        "agreementId":{"shape":"AgreementId"},
        "reasonCode":{"shape":"AgreementCancellationRequestReasonCode"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "description":{"shape":"AgreementCancellationRequestDescription"}
      }
    },
    "SendAgreementCancellationRequestOutput":{
      "type":"structure",
      "members":{
        "agreementId":{"shape":"AgreementId"},
        "agreementCancellationRequestId":{"shape":"AgreementCancellationRequestId"},
        "status":{"shape":"AgreementCancellationRequestStatus"},
        "reasonCode":{"shape":"AgreementCancellationRequestReasonCode"},
        "description":{"shape":"AgreementCancellationRequestDescription"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "SendAgreementPaymentRequestInput":{
      "type":"structure",
      "required":[
        "agreementId",
        "termId",
        "name",
        "chargeAmount"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "agreementId":{"shape":"AgreementId"},
        "termId":{"shape":"TermId"},
        "name":{"shape":"PaymentRequestName"},
        "chargeAmount":{"shape":"PositiveAmountUpto8Decimals"},
        "description":{"shape":"PaymentRequestDescription"}
      }
    },
    "SendAgreementPaymentRequestOutput":{
      "type":"structure",
      "members":{
        "paymentRequestId":{"shape":"PaymentRequestId"},
        "agreementId":{"shape":"AgreementId"},
        "status":{"shape":"PaymentRequestStatus"},
        "name":{"shape":"PaymentRequestName"},
        "description":{"shape":"PaymentRequestDescription"},
        "chargeAmount":{"shape":"PositiveAmountUpto8Decimals"},
        "currencyCode":{"shape":"CurrencyCode"},
        "createdAt":{"shape":"Timestamp"}
      }
    },
    "Sort":{
      "type":"structure",
      "members":{
        "sortBy":{"shape":"SortBy"},
        "sortOrder":{"shape":"SortOrder"}
      }
    },
    "SortBy":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[A-Za-z_]+"
    },
    "SortOrder":{
      "type":"string",
      "enum":[
        "ASCENDING",
        "DESCENDING"
      ]
    },
    "String":{"type":"string"},
    "SupportTerm":{
      "type":"structure",
      "members":{
        "type":{"shape":"UnversionedTermType"},
        "refundPolicy":{"shape":"BoundedString"}
      }
    },
    "TermId":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9+=;,.@\\-_]+"
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "requestId":{"shape":"RequestId"},
        "message":{"shape":"ExceptionMessage"}
      },
      "exception":true
    },
    "Timestamp":{"type":"timestamp"},
    "UnversionedTermType":{
      "type":"string",
      "max":4096,
      "min":1,
      "pattern":"[A-Za-z]+"
    },
    "UsageBasedPricingTerm":{
      "type":"structure",
      "members":{
        "type":{"shape":"UnversionedTermType"},
        "currencyCode":{"shape":"CurrencyCode"},
        "rateCards":{"shape":"UsageBasedRateCardList"}
      }
    },
    "UsageBasedRateCardItem":{
      "type":"structure",
      "members":{
        "rateCard":{"shape":"RateCardList"}
      }
    },
    "UsageBasedRateCardList":{
      "type":"list",
      "member":{"shape":"UsageBasedRateCardItem"}
    },
    "ValidationException":{
      "type":"structure",
      "members":{
        "requestId":{"shape":"RequestId"},
        "message":{"shape":"ExceptionMessage"},
        "reason":{"shape":"ValidationExceptionReason"},
        "fields":{"shape":"ValidationExceptionFieldList"}
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "name",
        "message"
      ],
      "members":{
        "name":{"shape":"BoundedString"},
        "message":{"shape":"BoundedString"}
      }
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidationExceptionReason":{
      "type":"string",
      "enum":[
        "INVALID_AGREEMENT_ID",
        "MISSING_AGREEMENT_ID",
        "INVALID_CATALOG",
        "INVALID_FILTER_NAME",
        "INVALID_FILTER_VALUES",
        "INVALID_SORT_BY",
        "INVALID_SORT_ORDER",
        "INVALID_NEXT_TOKEN",
        "INVALID_MAX_RESULTS",
        "INVALID_TERM_ID",
        "MISSING_TERM_ID",
        "MISSING_NAME",
        "INVALID_NAME",
        "INVALID_DESCRIPTION",
        "MISSING_CHARGE_AMOUNT",
        "INVALID_CHARGE_AMOUNT",
        "MISSING_PAYMENT_REQUEST_ID",
        "INVALID_PAYMENT_REQUEST_ID",
        "MISSING_PARTY_TYPE",
        "INVALID_PARTY_TYPE",
        "UNSUPPORTED_FILTERS",
        "INVALID_REJECTION_REASON",
        "INVALID_PAYMENT_REQUEST_STATUS",
        "OTHER"
      ]
    },
    "ValidityTerm":{
      "type":"structure",
      "members":{
        "type":{"shape":"UnversionedTermType"},
        "agreementDuration":{"shape":"BoundedString"},
        "agreementStartDate":{"shape":"Timestamp"},
        "agreementEndDate":{"shape":"Timestamp"}
      }
    },
    "VariablePaymentTerm":{
      "type":"structure",
      "members":{
        "type":{"shape":"UnversionedTermType"},
        "currencyCode":{"shape":"CurrencyCode"},
        "maxTotalChargeAmount":{"shape":"BoundedString"},
        "configuration":{"shape":"VariablePaymentTermConfiguration"}
      }
    },
    "VariablePaymentTermConfiguration":{
      "type":"structure",
      "required":["paymentRequestApprovalStrategy"],
      "members":{
        "paymentRequestApprovalStrategy":{"shape":"PaymentRequestApprovalStrategy"},
        "expirationDuration":{"shape":"ISO8601Duration"}
      }
    },
    "ZeroValueInteger":{
      "type":"integer",
      "min":0
    }
  }
}
