{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2025-05-15",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"eventsv2",
    "protocol":"smithy-rpc-v2-cbor",
    "protocols":["smithy-rpc-v2-cbor"],
    "serviceFullName":"Amazon EventBridgeV2",
    "serviceId":"EventBridgeV2",
    "signatureVersion":"v4",
    "signingName":"events",
    "targetPrefix":"AWSEventsV2",
    "uid":"eventbridgev2-2025-05-15"
  },
  "operations":{
    "CreateEventBus":{
      "name":"CreateEventBus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventBusRequest"},
      "output":{"shape":"CreateEventBusResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidStateException"}
      ]
    },
    "CreateEventSource":{
      "name":"CreateEventSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventSourceRequest"},
      "output":{"shape":"CreateEventSourceResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidStateException"}
      ]
    },
    "CreateSubscriber":{
      "name":"CreateSubscriber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSubscriberRequest"},
      "output":{"shape":"CreateSubscriberResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidStateException"}
      ]
    },
    "DeleteEventBus":{
      "name":"DeleteEventBus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventBusRequest"},
      "output":{"shape":"DeleteEventBusResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidStateException"},
        {"shape":"ResourceInUseException"}
      ],
      "idempotent":true
    },
    "DeleteEventSource":{
      "name":"DeleteEventSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventSourceRequest"},
      "output":{"shape":"DeleteEventSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidStateException"}
      ],
      "idempotent":true
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "output":{"shape":"DeleteResourcePolicyResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "idempotent":true
    },
    "DeleteSubscriber":{
      "name":"DeleteSubscriber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSubscriberRequest"},
      "output":{"shape":"DeleteSubscriberResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "idempotent":true
    },
    "DescribeEventBus":{
      "name":"DescribeEventBus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventBusRequest"},
      "output":{"shape":"DescribeEventBusResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"}
      ],
      "readonly":true
    },
    "DescribeEventSource":{
      "name":"DescribeEventSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventSourceRequest"},
      "output":{"shape":"DescribeEventSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"}
      ],
      "readonly":true
    },
    "DescribeSubscriber":{
      "name":"DescribeSubscriber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSubscriberRequest"},
      "output":{"shape":"DescribeSubscriberResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"}
      ],
      "readonly":true
    },
    "GetResourcePolicy":{
      "name":"GetResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResourcePolicyRequest"},
      "output":{"shape":"GetResourcePolicyResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"}
      ],
      "readonly":true
    },
    "ListEventBuses":{
      "name":"ListEventBuses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEventBusesRequest"},
      "output":{"shape":"ListEventBusesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"}
      ],
      "readonly":true
    },
    "ListEventSources":{
      "name":"ListEventSources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEventSourcesRequest"},
      "output":{"shape":"ListEventSourcesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"}
      ],
      "readonly":true
    },
    "ListResourcePolicies":{
      "name":"ListResourcePolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourcePoliciesRequest"},
      "output":{"shape":"ListResourcePoliciesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"}
      ],
      "readonly":true
    },
    "ListSubscribers":{
      "name":"ListSubscribers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSubscribersRequest"},
      "output":{"shape":"ListSubscribersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"}
      ],
      "readonly":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"}
      ],
      "readonly":true
    },
    "PutEvents":{
      "name":"PutEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutEventsRequest"},
      "output":{"shape":"PutEventsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"},
        {"shape":"InvalidStateException"}
      ]
    },
    "PutRawEvents":{
      "name":"PutRawEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutRawEventsRequest"},
      "output":{"shape":"PutRawEventsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"SchemaRegistryUnavailableException"},
        {"shape":"InternalException"},
        {"shape":"InvalidStateException"}
      ]
    },
    "PutResourcePolicy":{
      "name":"PutResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutResourcePolicyRequest"},
      "output":{"shape":"PutResourcePolicyResponse"},
      "errors":[
        {"shape":"PolicyLengthExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"PublicPolicyException"}
      ],
      "idempotent":true
    },
    "RevokeResource":{
      "name":"RevokeResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeResourceRequest"},
      "output":{"shape":"RevokeResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidStateException"}
      ],
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidStateException"}
      ],
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidStateException"}
      ],
      "idempotent":true
    },
    "UpdateEventBus":{
      "name":"UpdateEventBus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEventBusRequest"},
      "output":{"shape":"UpdateEventBusResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidStateException"}
      ],
      "idempotent":true
    },
    "UpdateEventSource":{
      "name":"UpdateEventSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEventSourceRequest"},
      "output":{"shape":"UpdateEventSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidStateException"}
      ],
      "idempotent":true
    },
    "UpdateSubscriber":{
      "name":"UpdateSubscriber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSubscriberRequest"},
      "output":{"shape":"UpdateSubscriberResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidStateException"}
      ],
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"\\d{12}"
    },
    "AwsServiceEventsSourceConfiguration":{
      "type":"structure",
      "required":["AwsService"],
      "members":{
        "AwsService":{"shape":"AwsServiceSource"},
        "Pattern":{"shape":"AwsServiceEventsSourceConfigurationPatternString"},
        "OnFailureConfiguration":{"shape":"OnFailureConfiguration"}
      }
    },
    "AwsServiceEventsSourceConfigurationPatternString":{
      "type":"string",
      "max":3753,
      "min":0,
      "sensitive":true
    },
    "AwsServiceSource":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"aws\\.[a-z0-9\\-]+"
    },
    "BatchConfiguration":{
      "type":"structure",
      "members":{
        "MaxBatchSize":{"shape":"BatchConfigurationMaxBatchSizeInteger"},
        "MaxBatchWindowInSeconds":{"shape":"BatchConfigurationMaxBatchWindowInSecondsInteger"}
      }
    },
    "BatchConfigurationMaxBatchSizeInteger":{
      "type":"integer",
      "box":true,
      "max":500,
      "min":1
    },
    "BatchConfigurationMaxBatchWindowInSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":300,
      "min":0
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BusState":{
      "type":"string",
      "enum":[
        "CREATING",
        "CREATE_FAILED",
        "UPDATING",
        "UPDATE_FAILED",
        "DELETING",
        "ACTIVE",
        "DELETE_FAILED"
      ]
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[\\u0021-\\u007E]+"
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":false}
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ConfluentPublicRegistryConfiguration":{
      "type":"structure",
      "required":["ConnectionArn"],
      "members":{
        "ConnectionArn":{"shape":"ConnectionArn"}
      }
    },
    "ConnectionArn":{
      "type":"string",
      "max":1600,
      "min":1,
      "pattern":"arn:aws(-[a-z0-9]+)*:events:[a-z0-9-]+:\\d{12}:connection/.+"
    },
    "ContentType":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"application/.*"
    },
    "CreateEventBusRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"EventBusName"},
        "Description":{"shape":"Description"},
        "EncryptionConfiguration":{"shape":"EncryptionConfiguration"},
        "StorageConfiguration":{"shape":"StorageConfiguration"},
        "Tags":{"shape":"TagMap"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateEventBusResponse":{
      "type":"structure",
      "members":{
        "EventBusArn":{"shape":"EventBusArn"},
        "Name":{"shape":"EventBusName"},
        "Description":{"shape":"Description"},
        "EncryptionConfiguration":{"shape":"EncryptionConfiguration"},
        "StorageConfiguration":{"shape":"StorageConfigurationOutput"},
        "State":{"shape":"BusState"},
        "StateReason":{"shape":"StateReason"},
        "CreationTime":{"shape":"Timestamp"}
      }
    },
    "CreateEventSourceRequest":{
      "type":"structure",
      "required":[
        "Name",
        "EventBusArn",
        "Configuration"
      ],
      "members":{
        "Name":{"shape":"EventSourceName"},
        "EventBusArn":{
          "shape":"EventBusArn",
          "contextParam":{"name":"EventBusArn"}
        },
        "Configuration":{"shape":"EventSourceConfiguration"},
        "Description":{"shape":"Description"},
        "Tags":{"shape":"TagMap"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateEventSourceResponse":{
      "type":"structure",
      "members":{
        "EventSourceArn":{"shape":"EventSourceArn"},
        "Name":{"shape":"EventSourceName"},
        "EventBusArn":{"shape":"EventBusArn"},
        "State":{"shape":"EventSourceState"},
        "CreationTime":{"shape":"Timestamp"}
      }
    },
    "CreateSubscriberRequest":{
      "type":"structure",
      "required":[
        "Name",
        "EventBusArn",
        "InvokeConfiguration"
      ],
      "members":{
        "Name":{"shape":"SubscriberName"},
        "EventBusArn":{
          "shape":"EventBusArn",
          "contextParam":{"name":"EventBusArn"}
        },
        "InvokeConfiguration":{"shape":"InvokeConfiguration"},
        "Description":{"shape":"Description"},
        "FilterConfiguration":{"shape":"FilterConfiguration"},
        "Type":{"shape":"OrderingType"},
        "StartingPosition":{"shape":"StartingPosition"},
        "PointInTimeConfiguration":{"shape":"PointInTimeConfiguration"},
        "BatchConfiguration":{"shape":"BatchConfiguration"},
        "Transformer":{"shape":"Transformer"},
        "RetryPolicy":{"shape":"RetryPolicy"},
        "OnFailureConfiguration":{"shape":"OnFailureConfiguration"},
        "LogConfiguration":{"shape":"LogConfiguration"},
        "State":{"shape":"SubscriberState"},
        "Tags":{"shape":"TagMap"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateSubscriberResponse":{
      "type":"structure",
      "members":{
        "SubscriberArn":{"shape":"SubscriberArn"},
        "Name":{"shape":"SubscriberName"},
        "EventBusArn":{"shape":"EventBusArn"},
        "Type":{"shape":"OrderingType"},
        "StartingPosition":{"shape":"StartingPosition"},
        "PointInTimeConfiguration":{"shape":"PointInTimeConfiguration"},
        "State":{"shape":"SubscriberState"},
        "CreationTime":{"shape":"Timestamp"}
      }
    },
    "DeadLetterQueueArn":{
      "type":"string",
      "max":1600,
      "min":1,
      "pattern":"arn:aws(-[a-z0-9]+)*:sqs:[a-z][a-z0-9]*(-[a-z0-9]+)*:[0-9]{12}:([A-Za-z0-9_-]{1,80}|[A-Za-z0-9_-]{1,75}\\.fifo)(?![\\s\\S]).*"
    },
    "DeduplicationConfiguration":{
      "type":"structure",
      "required":["DeduplicationType"],
      "members":{
        "DeduplicationType":{"shape":"DeduplicationType"}
      }
    },
    "DeduplicationType":{
      "type":"string",
      "enum":["CONTENT_BASED"]
    },
    "DeleteEventBusRequest":{
      "type":"structure",
      "required":["EventBusArn"],
      "members":{
        "EventBusArn":{
          "shape":"EventBusArn",
          "contextParam":{"name":"EventBusArn"}
        }
      }
    },
    "DeleteEventBusResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteEventSourceRequest":{
      "type":"structure",
      "required":["EventSourceArn"],
      "members":{
        "EventSourceArn":{"shape":"EventSourceArn"}
      }
    },
    "DeleteEventSourceResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteResourcePolicyRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"EventBusArn",
          "contextParam":{"name":"EventBusArn"}
        },
        "PolicyName":{"shape":"PolicyName"},
        "ExpectedRevisionId":{"shape":"PolicyRevisionId"}
      }
    },
    "DeleteResourcePolicyResponse":{
      "type":"structure",
      "members":{
        "RevisionId":{"shape":"PolicyRevisionId"}
      }
    },
    "DeleteSubscriberRequest":{
      "type":"structure",
      "required":["SubscriberArn"],
      "members":{
        "SubscriberArn":{"shape":"SubscriberArn"}
      }
    },
    "DeleteSubscriberResponse":{
      "type":"structure",
      "members":{}
    },
    "DescribeEventBusRequest":{
      "type":"structure",
      "required":["EventBusArn"],
      "members":{
        "EventBusArn":{
          "shape":"EventBusArn",
          "contextParam":{"name":"EventBusArn"}
        }
      }
    },
    "DescribeEventBusResponse":{
      "type":"structure",
      "members":{
        "EventBusArn":{"shape":"EventBusArn"},
        "Name":{"shape":"EventBusName"},
        "Description":{"shape":"Description"},
        "EncryptionConfiguration":{"shape":"EncryptionConfiguration"},
        "StorageConfiguration":{"shape":"StorageConfigurationOutput"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "State":{"shape":"BusState"},
        "StateReason":{"shape":"StateReason"}
      }
    },
    "DescribeEventSourceRequest":{
      "type":"structure",
      "required":["EventSourceArn"],
      "members":{
        "EventSourceArn":{"shape":"EventSourceArn"}
      }
    },
    "DescribeEventSourceResponse":{
      "type":"structure",
      "members":{
        "EventSourceArn":{"shape":"EventSourceArn"},
        "Name":{"shape":"EventSourceName"},
        "EventBusArn":{"shape":"EventBusArn"},
        "Configuration":{"shape":"EventSourceConfiguration"},
        "Description":{"shape":"Description"},
        "State":{"shape":"EventSourceState"},
        "Revoked":{"shape":"Boolean"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"}
      }
    },
    "DescribeSubscriberRequest":{
      "type":"structure",
      "required":["SubscriberArn"],
      "members":{
        "SubscriberArn":{"shape":"SubscriberArn"}
      }
    },
    "DescribeSubscriberResponse":{
      "type":"structure",
      "members":{
        "SubscriberArn":{"shape":"SubscriberArn"},
        "Name":{"shape":"SubscriberName"},
        "EventBusArn":{"shape":"EventBusArn"},
        "InvokeConfiguration":{"shape":"InvokeConfiguration"},
        "Description":{"shape":"Description"},
        "FilterConfiguration":{"shape":"FilterConfiguration"},
        "Type":{"shape":"OrderingType"},
        "StartingPosition":{"shape":"StartingPosition"},
        "PointInTimeConfiguration":{"shape":"PointInTimeConfiguration"},
        "BatchConfiguration":{"shape":"BatchConfiguration"},
        "Transformer":{"shape":"Transformer"},
        "RetryPolicy":{"shape":"RetryPolicy"},
        "OnFailureConfiguration":{"shape":"OnFailureConfiguration"},
        "LogConfiguration":{"shape":"LogConfiguration"},
        "State":{"shape":"SubscriberState"},
        "Revoked":{"shape":"Boolean"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"}
      }
    },
    "Description":{
      "type":"string",
      "max":512,
      "min":0,
      "pattern":"[^\\u0000-\\u001F\\u007F-\\u009F\\u2028\\u2029]*(?![\\s\\S]).*"
    },
    "DetailType":{
      "type":"string",
      "max":128,
      "min":1
    },
    "EncryptionConfiguration":{
      "type":"structure",
      "members":{
        "KmsKeyIdentifier":{"shape":"KmsKeyIdentifier"}
      }
    },
    "ErrorCode":{
      "type":"string",
      "max":256,
      "min":1
    },
    "ErrorMessage":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "EventBusArn":{
      "type":"string",
      "max":1011,
      "min":1,
      "pattern":"arn:aws(-[a-z0-9]+)*:events:[a-z][a-z0-9]*(-[a-z0-9]+)*:([0-9]{12}):event-busv2\\/[A-Za-z0-9][\\.\\-_A-Za-z0-9]{0,255}\\/[a-z0-9]{25}"
    },
    "EventBusName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9][\\.\\-_A-Za-z0-9]*"
    },
    "EventBusSummary":{
      "type":"structure",
      "members":{
        "Name":{"shape":"EventBusName"},
        "EventBusArn":{"shape":"EventBusArn"},
        "Description":{"shape":"Description"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "State":{"shape":"BusState"},
        "StateReason":{"shape":"StateReason"},
        "EventBusAccountId":{"shape":"AccountId"}
      }
    },
    "EventBusSummaryList":{
      "type":"list",
      "member":{"shape":"EventBusSummary"}
    },
    "EventBusV2MetadataMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"},
      "max":100,
      "min":0
    },
    "EventBusV2Parameters":{
      "type":"structure",
      "members":{
        "Metadata":{"shape":"EventBusV2MetadataMap"},
        "SystemMetadata":{"shape":"EventBusV2SystemMetadata"},
        "DeduplicationConfiguration":{"shape":"DeduplicationConfiguration"}
      },
      "sensitive":true
    },
    "EventBusV2SystemMetadata":{
      "type":"structure",
      "members":{
        "EventGroupId":{"shape":"String"},
        "DeduplicationId":{"shape":"String"}
      }
    },
    "EventData":{
      "type":"blob",
      "sensitive":true
    },
    "EventDeduplicationId":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\s\\S]*[^\\u0009-\\u000D\\u001C-\\u0020\\u1680\\u2000-\\u2006\\u2008-\\u200A\\u2028\\u2029\\u205F\\u3000][\\s\\S]*"
    },
    "EventDetail":{
      "type":"string",
      "sensitive":true
    },
    "EventGroupId":{
      "type":"string",
      "max":128,
      "min":1
    },
    "EventId":{
      "type":"string",
      "max":128,
      "min":1
    },
    "EventMetadataKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[^/]+"
    },
    "EventMetadataMap":{
      "type":"map",
      "key":{"shape":"EventMetadataKey"},
      "value":{"shape":"EventMetadataValue"},
      "max":100,
      "min":0
    },
    "EventMetadataValue":{
      "type":"string",
      "min":1,
      "sensitive":true
    },
    "EventPattern":{
      "type":"string",
      "max":4096,
      "min":0,
      "sensitive":true
    },
    "EventResource":{
      "type":"string",
      "max":2048,
      "min":0
    },
    "EventSourceArn":{
      "type":"string",
      "max":1011,
      "min":1,
      "pattern":"arn:aws(-[a-z0-9]+)*:events:[a-z][a-z0-9]*(-[a-z0-9]+)*:([0-9]{12}):event-sourcev2\\/(aws\\.service|aws\\.partner)\\/[A-Za-z0-9][\\.\\-_A-Za-z0-9]{0,255}\\/[a-z0-9]{25}"
    },
    "EventSourceConfiguration":{
      "type":"structure",
      "members":{
        "AwsServiceEventsConfiguration":{"shape":"AwsServiceEventsSourceConfiguration"},
        "PartnerEventsConfiguration":{"shape":"PartnerEventsSourceConfiguration"}
      },
      "union":true
    },
    "EventSourceName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"(?!aws\\.)[A-Za-z0-9][\\.\\-_A-Za-z0-9]*"
    },
    "EventSourceState":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "UPDATING",
        "CREATE_FAILED",
        "UPDATE_FAILED",
        "DELETING",
        "DELETE_FAILED"
      ]
    },
    "EventSourceSummary":{
      "type":"structure",
      "members":{
        "EventSourceArn":{"shape":"EventSourceArn"},
        "Name":{"shape":"EventSourceName"},
        "EventBusArn":{"shape":"EventBusArn"},
        "Type":{"shape":"EventSourceType"},
        "State":{"shape":"EventSourceState"},
        "Revoked":{"shape":"Boolean"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "EventSourceAccountId":{"shape":"AccountId"}
      }
    },
    "EventSourceSummaryList":{
      "type":"list",
      "member":{"shape":"EventSourceSummary"}
    },
    "EventSourceType":{
      "type":"string",
      "enum":[
        "AWS_SERVICE_EVENTS",
        "PARTNER_EVENTS"
      ]
    },
    "Filter":{
      "type":"structure",
      "required":[
        "Pattern",
        "Scope"
      ],
      "members":{
        "Pattern":{"shape":"EventPattern"},
        "Scope":{"shape":"FilterScope"}
      }
    },
    "FilterConfiguration":{
      "type":"structure",
      "members":{
        "Language":{"shape":"FilterLanguage"},
        "Filters":{"shape":"FilterList"}
      }
    },
    "FilterLanguage":{
      "type":"string",
      "enum":["EVENT_BRIDGE_PATTERN"]
    },
    "FilterList":{
      "type":"list",
      "member":{"shape":"Filter"},
      "max":50,
      "min":1
    },
    "FilterScope":{
      "type":"string",
      "enum":[
        "DATA",
        "METADATA",
        "SYSTEM_METADATA"
      ]
    },
    "GetResourcePolicyRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"EventBusArn",
          "contextParam":{"name":"EventBusArn"}
        },
        "PolicyName":{"shape":"PolicyName"}
      }
    },
    "GetResourcePolicyResponse":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "PolicyDocument",
        "PolicyName",
        "RevisionId"
      ],
      "members":{
        "ResourceArn":{"shape":"EventBusArn"},
        "PolicyDocument":{"shape":"PolicyDocument"},
        "PolicyName":{"shape":"PolicyName"},
        "RevisionId":{"shape":"PolicyRevisionId"}
      }
    },
    "HeaderKey":{
      "type":"string",
      "max":512,
      "min":0,
      "pattern":"([!#$%&'*+\\-.^_`|~0-9a-zA-Z]+|\\{%[\\s\\S]+?%\\})"
    },
    "HeaderParametersMap":{
      "type":"map",
      "key":{"shape":"HeaderKey"},
      "value":{"shape":"HeaderValue"},
      "max":50,
      "min":0
    },
    "HeaderValue":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"([ \\t]*[\\x20-\\x7E]+([ \\t]+[\\x20-\\x7E]+)*[ \\t]*|\\{%[\\s\\S]+?%\\})"
    },
    "HttpParameters":{
      "type":"structure",
      "members":{
        "PathParameterValues":{"shape":"PathParameterList"},
        "HeaderParameters":{"shape":"HeaderParametersMap"},
        "QueryStringParameters":{"shape":"QueryStringParametersMap"},
        "InvocationTimeoutSeconds":{"shape":"String"}
      },
      "sensitive":true
    },
    "IdempotentParameterMismatchException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "IncludePayload":{
      "type":"string",
      "enum":[
        "FULL",
        "ON_ERROR_ONLY"
      ]
    },
    "Integer":{"type":"integer"},
    "InternalException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "InvalidInputException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "InvalidStateException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "InvocationType":{
      "type":"string",
      "enum":[
        "EVENT",
        "REQUEST_RESPONSE"
      ]
    },
    "InvokeConfiguration":{
      "type":"structure",
      "required":[
        "RoleArn",
        "TargetArn"
      ],
      "members":{
        "RoleArn":{"shape":"RoleArn"},
        "LambdaParameters":{"shape":"LambdaParameters"},
        "SqsParameters":{"shape":"SqsParameters"},
        "SnsParameters":{"shape":"SnsParameters"},
        "KinesisParameters":{"shape":"KinesisParameters"},
        "StepFunctionsParameters":{"shape":"StepFunctionsParameters"},
        "HttpParameters":{"shape":"HttpParameters"},
        "UniversalTargetParameters":{"shape":"UniversalTargetParameters"},
        "EventBusV2Parameters":{"shape":"EventBusV2Parameters"},
        "TargetArn":{"shape":"TargetResourceArn"}
      }
    },
    "JsonataConfiguration":{
      "type":"structure",
      "required":["Expression"],
      "members":{
        "Expression":{"shape":"JsonataConfigurationExpressionString"}
      },
      "sensitive":true
    },
    "JsonataConfigurationExpressionString":{
      "type":"string",
      "max":8192,
      "min":1,
      "pattern":"\\{%[\\s\\S]+?%\\}(?![\\s\\S]).*"
    },
    "KinesisParameters":{
      "type":"structure",
      "members":{
        "PartitionKey":{"shape":"KinesisParametersPartitionKeyString"},
        "ExplicitHashKey":{"shape":"KinesisParametersExplicitHashKeyString"}
      },
      "sensitive":true
    },
    "KinesisParametersExplicitHashKeyString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "KinesisParametersPartitionKeyString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "KmsKeyIdentifier":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"[a-zA-Z0-9_\\-/:]*"
    },
    "LambdaParameters":{
      "type":"structure",
      "members":{
        "InvocationType":{"shape":"InvocationType"},
        "Qualifier":{"shape":"LambdaParametersQualifierString"},
        "DurableExecutionName":{"shape":"LambdaParametersDurableExecutionNameString"},
        "TenantId":{"shape":"LambdaParametersTenantIdString"},
        "InvocationTimeoutSeconds":{"shape":"LambdaParametersInvocationTimeoutSecondsString"}
      },
      "sensitive":true
    },
    "LambdaParametersDurableExecutionNameString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "LambdaParametersInvocationTimeoutSecondsString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "LambdaParametersQualifierString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "LambdaParametersTenantIdString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ListEventBusesRequest":{
      "type":"structure",
      "members":{
        "NamePrefix":{"shape":"EventBusName"},
        "EventBusAccountId":{"shape":"AccountId"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListEventBusesResponse":{
      "type":"structure",
      "members":{
        "EventBuses":{"shape":"EventBusSummaryList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListEventSourcesRequest":{
      "type":"structure",
      "members":{
        "EventBusArn":{
          "shape":"EventBusArn",
          "contextParam":{"name":"EventBusArn"}
        },
        "NamePrefix":{"shape":"EventSourceName"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListEventSourcesResponse":{
      "type":"structure",
      "members":{
        "EventSources":{"shape":"EventSourceSummaryList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListResourcePoliciesRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"EventBusArn",
          "contextParam":{"name":"EventBusArn"}
        },
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListResourcePoliciesResponse":{
      "type":"structure",
      "members":{
        "PolicySummaries":{"shape":"ResourcePolicySummaryList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListSubscribersRequest":{
      "type":"structure",
      "members":{
        "EventBusArn":{
          "shape":"EventBusArn",
          "contextParam":{"name":"EventBusArn"}
        },
        "NamePrefix":{"shape":"SubscriberName"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListSubscribersResponse":{
      "type":"structure",
      "members":{
        "Subscribers":{"shape":"SubscriberSummaryList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{"shape":"TaggableResourceArn"}
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "Tags":{"shape":"TagMap"}
      }
    },
    "LogConfiguration":{
      "type":"structure",
      "members":{
        "Level":{"shape":"LogLevel"},
        "IncludePayload":{"shape":"IncludePayload"}
      }
    },
    "LogLevel":{
      "type":"string",
      "enum":[
        "OFF",
        "ERROR",
        "INFO"
      ]
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "MessageAttributeName":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "NextToken":{
      "type":"string",
      "max":4096,
      "min":1
    },
    "OnFailureConfiguration":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"DeadLetterQueueArn"}
      }
    },
    "OrderingType":{
      "type":"string",
      "enum":[
        "FIFO",
        "UNORDERED"
      ]
    },
    "PartnerEventSourceArn":{
      "type":"string",
      "max":1600,
      "min":1,
      "pattern":"arn:aws(-[a-z0-9]+)*:events:[a-z][a-z0-9]*(-[a-z0-9]+)*:([0-9]{12})?:event-source\\/aws\\.partner(\\/[\\.\\-_A-Za-z0-9]+){2,}"
    },
    "PartnerEventsSourceConfiguration":{
      "type":"structure",
      "required":["PartnerEventSourceArn"],
      "members":{
        "PartnerEventSourceArn":{"shape":"PartnerEventSourceArn"},
        "Pattern":{"shape":"PartnerEventsSourceConfigurationPatternString"},
        "PartnerBusKmsKeyIdentifier":{"shape":"KmsKeyIdentifier"},
        "OnFailureConfiguration":{"shape":"OnFailureConfiguration"}
      }
    },
    "PartnerEventsSourceConfigurationPatternString":{
      "type":"string",
      "max":3753,
      "min":0,
      "sensitive":true
    },
    "PathParameter":{
      "type":"string",
      "pattern":"(?!\\s*$).+"
    },
    "PathParameterList":{
      "type":"list",
      "member":{"shape":"PathParameter"},
      "max":50,
      "min":0
    },
    "PointInTimeConfiguration":{
      "type":"structure",
      "required":["PointType"],
      "members":{
        "PointType":{"shape":"PointType"},
        "StartingPoint":{"shape":"Timestamp"},
        "EndPoint":{"shape":"Timestamp"}
      }
    },
    "PointType":{
      "type":"string",
      "enum":[
        "HORIZON",
        "TIMESTAMP"
      ]
    },
    "PolicyDocument":{
      "type":"string",
      "max":389120,
      "min":1
    },
    "PolicyLengthExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "PolicyName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[A-Za-z0-9_]+"
    },
    "PolicyRevisionId":{
      "type":"string",
      "max":256,
      "min":1
    },
    "PublicPolicyException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "PutEventsRequest":{
      "type":"structure",
      "required":[
        "EventBusArn",
        "Entries"
      ],
      "members":{
        "EventBusArn":{
          "shape":"EventBusArn",
          "contextParam":{"name":"EventBusArn"}
        },
        "Entries":{"shape":"PutEventsRequestEntryList"},
        "DeduplicationConfiguration":{"shape":"DeduplicationConfiguration"}
      }
    },
    "PutEventsRequestEntry":{
      "type":"structure",
      "required":[
        "Source",
        "DetailType"
      ],
      "members":{
        "Source":{"shape":"Source"},
        "DetailType":{"shape":"DetailType"},
        "Detail":{"shape":"EventDetail"},
        "Resources":{"shape":"PutEventsResourceList"},
        "Time":{"shape":"Timestamp"},
        "SystemMetadata":{"shape":"PutEventsSystemMetadata"}
      }
    },
    "PutEventsRequestEntryList":{
      "type":"list",
      "member":{"shape":"PutEventsRequestEntry"},
      "max":100,
      "min":1
    },
    "PutEventsResourceList":{
      "type":"list",
      "member":{"shape":"EventResource"},
      "max":100,
      "min":0
    },
    "PutEventsResponse":{
      "type":"structure",
      "members":{
        "FailedEntryCount":{"shape":"Integer"},
        "Entries":{"shape":"PutEventsResultEntryList"}
      }
    },
    "PutEventsResultEntry":{
      "type":"structure",
      "members":{
        "EventId":{"shape":"EventId"},
        "SequenceNumber":{"shape":"SequenceNumber"},
        "SuccessCode":{"shape":"SuccessCode"},
        "ErrorCode":{"shape":"ErrorCode"},
        "ErrorMessage":{"shape":"ErrorMessage"}
      }
    },
    "PutEventsResultEntryList":{
      "type":"list",
      "member":{"shape":"PutEventsResultEntry"}
    },
    "PutEventsSystemMetadata":{
      "type":"structure",
      "members":{
        "EventGroupId":{"shape":"EventGroupId"},
        "DeduplicationId":{"shape":"EventDeduplicationId"}
      }
    },
    "PutRawEventsRequest":{
      "type":"structure",
      "required":[
        "EventBusArn",
        "Entries"
      ],
      "members":{
        "EventBusArn":{
          "shape":"EventBusArn",
          "contextParam":{"name":"EventBusArn"}
        },
        "Entries":{"shape":"PutRawEventsRequestEntryList"},
        "SchemaRegistryConfiguration":{"shape":"SchemaRegistryConfiguration"},
        "DeduplicationConfiguration":{"shape":"DeduplicationConfiguration"}
      }
    },
    "PutRawEventsRequestEntry":{
      "type":"structure",
      "required":[
        "Data",
        "SystemMetadata"
      ],
      "members":{
        "Data":{"shape":"EventData"},
        "Metadata":{"shape":"EventMetadataMap"},
        "SystemMetadata":{"shape":"PutRawEventsSystemMetadata"}
      }
    },
    "PutRawEventsRequestEntryList":{
      "type":"list",
      "member":{"shape":"PutRawEventsRequestEntry"},
      "max":100,
      "min":1
    },
    "PutRawEventsResponse":{
      "type":"structure",
      "members":{
        "FailedEntryCount":{"shape":"Integer"},
        "Entries":{"shape":"PutRawEventsResultEntryList"}
      }
    },
    "PutRawEventsResultEntry":{
      "type":"structure",
      "members":{
        "EventId":{"shape":"EventId"},
        "SequenceNumber":{"shape":"SequenceNumber"},
        "SuccessCode":{"shape":"SuccessCode"},
        "ErrorCode":{"shape":"ErrorCode"},
        "ErrorMessage":{"shape":"ErrorMessage"}
      }
    },
    "PutRawEventsResultEntryList":{
      "type":"list",
      "member":{"shape":"PutRawEventsResultEntry"}
    },
    "PutRawEventsSystemMetadata":{
      "type":"structure",
      "required":["ContentType"],
      "members":{
        "ContentType":{"shape":"ContentType"},
        "DeduplicationId":{"shape":"EventDeduplicationId"},
        "EventGroupId":{"shape":"EventGroupId"}
      }
    },
    "PutResourcePolicyRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "PolicyDocument"
      ],
      "members":{
        "ResourceArn":{
          "shape":"EventBusArn",
          "contextParam":{"name":"EventBusArn"}
        },
        "PolicyDocument":{"shape":"PolicyDocument"},
        "PolicyName":{"shape":"PolicyName"},
        "ExpectedRevisionId":{"shape":"PolicyRevisionId"}
      }
    },
    "PutResourcePolicyResponse":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "PolicyName"
      ],
      "members":{
        "ResourceArn":{"shape":"EventBusArn"},
        "PolicyName":{"shape":"PolicyName"},
        "RevisionId":{"shape":"PolicyRevisionId"}
      }
    },
    "QueryStringKey":{
      "type":"string",
      "max":512,
      "min":0,
      "pattern":"[^\\x00-\\x1F\\x7F]+"
    },
    "QueryStringParametersMap":{
      "type":"map",
      "key":{"shape":"QueryStringKey"},
      "value":{"shape":"QueryStringValue"},
      "max":50,
      "min":0
    },
    "QueryStringValue":{
      "type":"string",
      "max":512,
      "min":0,
      "pattern":"[^\\x00-\\x09\\x0B\\x0C\\x0E-\\x1F\\x7F]+"
    },
    "ResourceAlreadyExistsException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ResourceInUseException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ResourcePolicySummary":{
      "type":"structure",
      "required":[
        "PolicyName",
        "RevisionId"
      ],
      "members":{
        "PolicyName":{"shape":"PolicyName"},
        "RevisionId":{"shape":"PolicyRevisionId"}
      }
    },
    "ResourcePolicySummaryList":{
      "type":"list",
      "member":{"shape":"ResourcePolicySummary"}
    },
    "ResumePosition":{
      "type":"string",
      "enum":[
        "LAST_PROCESSED",
        "LATEST"
      ]
    },
    "RetentionPeriodInDays":{
      "type":"integer",
      "box":true,
      "max":365,
      "min":1
    },
    "RetryPolicy":{
      "type":"structure",
      "members":{
        "MaxRetryAttempts":{"shape":"RetryPolicyMaxRetryAttemptsInteger"},
        "MaxEventAgeInSeconds":{"shape":"RetryPolicyMaxEventAgeInSecondsInteger"},
        "RetryStrategy":{"shape":"RetryStrategy"}
      }
    },
    "RetryPolicyMaxEventAgeInSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":86400,
      "min":60
    },
    "RetryPolicyMaxRetryAttemptsInteger":{
      "type":"integer",
      "box":true,
      "max":185,
      "min":0
    },
    "RetryStrategy":{
      "type":"string",
      "enum":["ALL"]
    },
    "RevocableResourceArn":{
      "type":"string",
      "max":1011,
      "min":1,
      "pattern":"arn:aws(-[a-z0-9]+)*:events:[a-z][a-z0-9]*(-[a-z0-9]+)*:([0-9]{12}):(subscriber|event-sourcev2\\/(aws\\.service|aws\\.partner))\\/[A-Za-z0-9][\\.\\-_A-Za-z0-9]{0,255}\\/[a-z0-9]{25}"
    },
    "RevokeResourceRequest":{
      "type":"structure",
      "required":["Arn"],
      "members":{
        "Arn":{"shape":"RevocableResourceArn"}
      }
    },
    "RevokeResourceResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"RevocableResourceArn"}
      }
    },
    "RoleArn":{
      "type":"string",
      "max":1600,
      "min":1,
      "pattern":"arn:aws(-[a-z0-9]+)*:iam::\\d{12}:role\\/[\\w+=,.@/-]+"
    },
    "SchemaRegistryConfiguration":{
      "type":"structure",
      "required":["RegistryUri"],
      "members":{
        "RegistryUri":{"shape":"SchemaRegistryUri"},
        "ConfluentPublicRegistryConfiguration":{"shape":"ConfluentPublicRegistryConfiguration"}
      }
    },
    "SchemaRegistryUnavailableException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":false}
    },
    "SchemaRegistryUri":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"(arn:[a-z0-9-]+:glue:[a-z0-9-]+:[0-9]{12}:registry/[-_$#A-Za-z0-9]{1,255}|https://((([A-Za-z0-9]+-)*[A-Za-z0-9]+)\\.)*([A-Za-z]([A-Za-z0-9-]*[A-Za-z0-9])?)(:[0-9]{1,5})?)(?![\\s\\S]).*"
    },
    "SequenceNumber":{
      "type":"string",
      "max":128,
      "min":1
    },
    "SnsMessageAttributeMap":{
      "type":"map",
      "key":{"shape":"MessageAttributeName"},
      "value":{"shape":"SnsMessageAttributeValue"},
      "max":50,
      "min":0
    },
    "SnsMessageAttributeValue":{
      "type":"structure",
      "members":{
        "DataType":{"shape":"SnsMessageAttributeValueDataTypeString"},
        "StringValue":{"shape":"String"},
        "BinaryValue":{"shape":"String"}
      }
    },
    "SnsMessageAttributeValueDataTypeString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "SnsParameters":{
      "type":"structure",
      "members":{
        "MessageGroupId":{"shape":"SnsParametersMessageGroupIdString"},
        "MessageDeduplicationId":{"shape":"SnsParametersMessageDeduplicationIdString"},
        "Subject":{"shape":"SnsParametersSubjectString"},
        "MessageStructure":{"shape":"SnsParametersMessageStructureString"},
        "MessageAttributes":{"shape":"SnsMessageAttributeMap"}
      },
      "sensitive":true
    },
    "SnsParametersMessageDeduplicationIdString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "SnsParametersMessageGroupIdString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "SnsParametersMessageStructureString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "SnsParametersSubjectString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "Source":{
      "type":"string",
      "max":256,
      "min":1
    },
    "SqsMessageAttributeMap":{
      "type":"map",
      "key":{"shape":"MessageAttributeName"},
      "value":{"shape":"SqsMessageAttributeValue"},
      "max":50,
      "min":0
    },
    "SqsMessageAttributeValue":{
      "type":"structure",
      "members":{
        "DataType":{"shape":"SqsMessageAttributeValueDataTypeString"},
        "StringValue":{"shape":"String"},
        "BinaryValue":{"shape":"String"}
      }
    },
    "SqsMessageAttributeValueDataTypeString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "SqsParameters":{
      "type":"structure",
      "members":{
        "MessageGroupId":{"shape":"SqsParametersMessageGroupIdString"},
        "MessageDeduplicationId":{"shape":"SqsParametersMessageDeduplicationIdString"},
        "DelaySeconds":{"shape":"SqsParametersDelaySecondsString"},
        "MessageAttributes":{"shape":"SqsMessageAttributeMap"},
        "MessageSystemAttributes":{"shape":"SqsMessageAttributeMap"}
      },
      "sensitive":true
    },
    "SqsParametersDelaySecondsString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "SqsParametersMessageDeduplicationIdString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "SqsParametersMessageGroupIdString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "StartingPosition":{
      "type":"string",
      "enum":[
        "LATEST",
        "POINT_IN_TIME"
      ]
    },
    "StateReason":{
      "type":"string",
      "max":1000,
      "min":0
    },
    "StepFunctionsParameters":{
      "type":"structure",
      "members":{
        "InvocationType":{"shape":"InvocationType"},
        "Name":{"shape":"StepFunctionsParametersNameString"},
        "TraceHeader":{"shape":"StepFunctionsParametersTraceHeaderString"},
        "InvocationTimeoutSeconds":{"shape":"StepFunctionsParametersInvocationTimeoutSecondsString"}
      },
      "sensitive":true
    },
    "StepFunctionsParametersInvocationTimeoutSecondsString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "StepFunctionsParametersNameString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "StepFunctionsParametersTraceHeaderString":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "StorageConfiguration":{
      "type":"structure",
      "members":{
        "RetentionPeriodInDays":{"shape":"RetentionPeriodInDays"}
      }
    },
    "StorageConfigurationOutput":{
      "type":"structure",
      "members":{
        "RetentionPeriodInDays":{"shape":"RetentionPeriodInDays"},
        "RetentionWindowStartTime":{"shape":"Timestamp"}
      }
    },
    "String":{"type":"string"},
    "SubscriberArn":{
      "type":"string",
      "max":1011,
      "min":1,
      "pattern":"arn:aws(-[a-z0-9]+)*:events:[a-z][a-z0-9]*(-[a-z0-9]+)*:([0-9]{12}):subscriber\\/[A-Za-z0-9][\\.\\-_A-Za-z0-9]{0,255}\\/[a-z0-9]{25}"
    },
    "SubscriberName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9][\\.\\-_A-Za-z0-9]*"
    },
    "SubscriberState":{
      "type":"string",
      "enum":[
        "RUNNING",
        "STOPPED"
      ]
    },
    "SubscriberSummary":{
      "type":"structure",
      "members":{
        "SubscriberArn":{"shape":"SubscriberArn"},
        "Name":{"shape":"SubscriberName"},
        "EventBusArn":{"shape":"EventBusArn"},
        "TargetArn":{"shape":"TargetResourceArn"},
        "Type":{"shape":"OrderingType"},
        "Revoked":{"shape":"Boolean"},
        "State":{"shape":"SubscriberState"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "SubscriberAccountId":{"shape":"AccountId"}
      }
    },
    "SubscriberSummaryList":{
      "type":"list",
      "member":{"shape":"SubscriberSummary"}
    },
    "SuccessCode":{
      "type":"string",
      "enum":[
        "PUBLISHED",
        "DEDUPLICATED"
      ]
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"\\S([\\s\\S]*\\S)?(?![\\s\\S]).*"
    },
    "TagMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"},
      "max":200,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{"shape":"TaggableResourceArn"},
        "Tags":{"shape":"TagResourceRequestTagsMap"}
      }
    },
    "TagResourceRequestTagsMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"},
      "min":1
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{}
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"(\\S([\\s\\S]*\\S)?)?(?![\\s\\S]).*"
    },
    "TaggableResourceArn":{
      "type":"string",
      "max":1011,
      "min":1,
      "pattern":"arn:aws(-[a-z0-9]+)*:events:[a-z][a-z0-9]*(-[a-z0-9]+)*:([0-9]{12}):(event-busv2|subscriber|event-sourcev2\\/(aws\\.service|aws\\.partner))\\/[A-Za-z0-9][\\.\\-_A-Za-z0-9]{0,255}\\/[a-z0-9]{25}"
    },
    "TargetResourceArn":{
      "type":"string",
      "max":1600,
      "min":1,
      "pattern":"arn:aws(-[a-z0-9]+)*:[^\\s]+(?![\\s\\S]).*"
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":true}
    },
    "Timestamp":{"type":"timestamp"},
    "Transformer":{
      "type":"structure",
      "members":{
        "Type":{"shape":"TransformerType"},
        "JsonataConfiguration":{"shape":"JsonataConfiguration"}
      }
    },
    "TransformerType":{
      "type":"string",
      "enum":[
        "RAW",
        "WITH_METADATA",
        "JSONATA"
      ]
    },
    "UniversalTargetInput":{
      "type":"string",
      "max":262144,
      "min":1
    },
    "UniversalTargetParameters":{
      "type":"structure",
      "required":["Input"],
      "members":{
        "Input":{"shape":"UniversalTargetInput"},
        "InvocationTimeoutSeconds":{"shape":"String"}
      },
      "sensitive":true
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "TagKeys"
      ],
      "members":{
        "ResourceArn":{"shape":"TaggableResourceArn"},
        "TagKeys":{"shape":"UntagResourceRequestTagKeysList"}
      }
    },
    "UntagResourceRequestTagKeysList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "min":1
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{}
    },
    "UpdateEventBusRequest":{
      "type":"structure",
      "required":["EventBusArn"],
      "members":{
        "EventBusArn":{
          "shape":"EventBusArn",
          "contextParam":{"name":"EventBusArn"}
        },
        "Description":{"shape":"Description"},
        "EncryptionConfiguration":{"shape":"EncryptionConfiguration"},
        "StorageConfiguration":{"shape":"StorageConfiguration"}
      }
    },
    "UpdateEventBusResponse":{
      "type":"structure",
      "members":{
        "EventBusArn":{"shape":"EventBusArn"},
        "Name":{"shape":"EventBusName"},
        "Description":{"shape":"Description"},
        "EncryptionConfiguration":{"shape":"EncryptionConfiguration"},
        "StorageConfiguration":{"shape":"StorageConfigurationOutput"},
        "State":{"shape":"BusState"},
        "StateReason":{"shape":"StateReason"},
        "LastModifiedTime":{"shape":"Timestamp"}
      }
    },
    "UpdateEventSourceRequest":{
      "type":"structure",
      "required":["EventSourceArn"],
      "members":{
        "EventSourceArn":{"shape":"EventSourceArn"},
        "Configuration":{"shape":"EventSourceConfiguration"},
        "Description":{"shape":"Description"}
      }
    },
    "UpdateEventSourceResponse":{
      "type":"structure",
      "members":{
        "EventSourceArn":{"shape":"EventSourceArn"},
        "Name":{"shape":"EventSourceName"},
        "EventBusArn":{"shape":"EventBusArn"},
        "State":{"shape":"EventSourceState"},
        "LastModifiedTime":{"shape":"Timestamp"}
      }
    },
    "UpdateInvokeConfiguration":{
      "type":"structure",
      "required":["RoleArn"],
      "members":{
        "RoleArn":{"shape":"RoleArn"},
        "LambdaParameters":{"shape":"LambdaParameters"},
        "SqsParameters":{"shape":"SqsParameters"},
        "SnsParameters":{"shape":"SnsParameters"},
        "KinesisParameters":{"shape":"KinesisParameters"},
        "StepFunctionsParameters":{"shape":"StepFunctionsParameters"},
        "HttpParameters":{"shape":"HttpParameters"},
        "UniversalTargetParameters":{"shape":"UniversalTargetParameters"},
        "EventBusV2Parameters":{"shape":"EventBusV2Parameters"}
      }
    },
    "UpdateSubscriberRequest":{
      "type":"structure",
      "required":["SubscriberArn"],
      "members":{
        "SubscriberArn":{"shape":"SubscriberArn"},
        "Description":{"shape":"Description"},
        "State":{"shape":"SubscriberState"},
        "ResumePosition":{"shape":"ResumePosition"},
        "InvokeConfiguration":{"shape":"UpdateInvokeConfiguration"},
        "FilterConfiguration":{"shape":"FilterConfiguration"},
        "BatchConfiguration":{"shape":"BatchConfiguration"},
        "Transformer":{"shape":"Transformer"},
        "RetryPolicy":{"shape":"RetryPolicy"},
        "OnFailureConfiguration":{"shape":"OnFailureConfiguration"},
        "LogConfiguration":{"shape":"LogConfiguration"}
      }
    },
    "UpdateSubscriberResponse":{
      "type":"structure",
      "members":{
        "SubscriberArn":{"shape":"SubscriberArn"},
        "Name":{"shape":"SubscriberName"},
        "EventBusArn":{"shape":"EventBusArn"},
        "Type":{"shape":"OrderingType"},
        "StartingPosition":{"shape":"StartingPosition"},
        "PointInTimeConfiguration":{"shape":"PointInTimeConfiguration"},
        "State":{"shape":"SubscriberState"},
        "LastModifiedTime":{"shape":"Timestamp"}
      }
    }
  }
}
