{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2025-03-07",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"lambda",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Lambda Web",
    "serviceId":"Lambda Web",
    "signatureVersion":"v4",
    "signingName":"lambda",
    "uid":"lambda-web-2025-03-07"
  },
  "operations":{
    "CreateWebFunction":{
      "name":"CreateWebFunction",
      "http":{
        "method":"PUT",
        "requestUri":"/2025-03-07/web-functions",
        "responseCode":202
      },
      "input":{"shape":"CreateWebFunctionRequest"},
      "output":{"shape":"CreateWebFunctionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "idempotent":true
    },
    "CreateWebFunctionEndpoint":{
      "name":"CreateWebFunctionEndpoint",
      "http":{
        "method":"PUT",
        "requestUri":"/2025-03-07/web-functions/{functionName}/endpoints",
        "responseCode":202
      },
      "input":{"shape":"CreateWebFunctionEndpointRequest"},
      "output":{"shape":"CreateWebFunctionEndpointResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "idempotent":true
    },
    "CreateWebFunctionRevision":{
      "name":"CreateWebFunctionRevision",
      "http":{
        "method":"POST",
        "requestUri":"/2025-03-07/web-functions/{functionName}/revisions",
        "responseCode":202
      },
      "input":{"shape":"CreateWebFunctionRevisionRequest"},
      "output":{"shape":"CreateWebFunctionRevisionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ]
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/2025-03-07/resource-policy/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "DeleteWebFunction":{
      "name":"DeleteWebFunction",
      "http":{
        "method":"DELETE",
        "requestUri":"/2025-03-07/web-functions/{functionName}",
        "responseCode":204
      },
      "input":{"shape":"DeleteWebFunctionRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "DeleteWebFunctionEndpoint":{
      "name":"DeleteWebFunctionEndpoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/2025-03-07/web-functions/{functionName}/endpoints/{endpointName}",
        "responseCode":204
      },
      "input":{"shape":"DeleteWebFunctionEndpointRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "DeleteWebFunctionRevision":{
      "name":"DeleteWebFunctionRevision",
      "http":{
        "method":"DELETE",
        "requestUri":"/2025-03-07/web-functions/{functionName}/revisions/{revisionId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteWebFunctionRevisionRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "GetResourcePolicy":{
      "name":"GetResourcePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/2025-03-07/resource-policy/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"GetResourcePolicyRequest"},
      "output":{"shape":"GetResourcePolicyResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetWebAccountSettings":{
      "name":"GetWebAccountSettings",
      "http":{
        "method":"GET",
        "requestUri":"/2025-03-07/web-account-settings",
        "responseCode":200
      },
      "input":{"shape":"GetWebAccountSettingsRequest"},
      "output":{"shape":"GetWebAccountSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetWebFunction":{
      "name":"GetWebFunction",
      "http":{
        "method":"GET",
        "requestUri":"/2025-03-07/web-functions/{functionName}",
        "responseCode":200
      },
      "input":{"shape":"GetWebFunctionRequest"},
      "output":{"shape":"GetWebFunctionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetWebFunctionEndpoint":{
      "name":"GetWebFunctionEndpoint",
      "http":{
        "method":"GET",
        "requestUri":"/2025-03-07/web-functions/{functionName}/endpoints/{endpointName}",
        "responseCode":200
      },
      "input":{"shape":"GetWebFunctionEndpointRequest"},
      "output":{"shape":"GetWebFunctionEndpointResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetWebFunctionRevision":{
      "name":"GetWebFunctionRevision",
      "http":{
        "method":"GET",
        "requestUri":"/2025-03-07/web-functions/{functionName}/revisions/{revisionId}",
        "responseCode":200
      },
      "input":{"shape":"GetWebFunctionRevisionRequest"},
      "output":{"shape":"GetWebFunctionRevisionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"GET",
        "requestUri":"/2025-03-07/tags/{resource}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsRequest"},
      "output":{"shape":"ListTagsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListWebFunctionEndpoints":{
      "name":"ListWebFunctionEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/2025-03-07/web-functions/{functionName}/list-endpoints",
        "responseCode":200
      },
      "input":{"shape":"ListWebFunctionEndpointsRequest"},
      "output":{"shape":"ListWebFunctionEndpointsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListWebFunctionRevisions":{
      "name":"ListWebFunctionRevisions",
      "http":{
        "method":"POST",
        "requestUri":"/2025-03-07/web-functions/{functionName}/list-revisions",
        "responseCode":200
      },
      "input":{"shape":"ListWebFunctionRevisionsRequest"},
      "output":{"shape":"ListWebFunctionRevisionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListWebFunctions":{
      "name":"ListWebFunctions",
      "http":{
        "method":"POST",
        "requestUri":"/2025-03-07/web-functions",
        "responseCode":200
      },
      "input":{"shape":"ListWebFunctionsRequest"},
      "output":{"shape":"ListWebFunctionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "PutResourcePolicy":{
      "name":"PutResourcePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/2025-03-07/resource-policy/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"PutResourcePolicyRequest"},
      "output":{"shape":"PutResourcePolicyResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/2025-03-07/tags/{resource}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/2025-03-07/tags/{resource}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "UpdateWebFunctionEndpoint":{
      "name":"UpdateWebFunctionEndpoint",
      "http":{
        "method":"PATCH",
        "requestUri":"/2025-03-07/web-functions/{functionName}/endpoints/{endpointName}",
        "responseCode":202
      },
      "input":{"shape":"UpdateWebFunctionEndpointRequest"},
      "output":{"shape":"UpdateWebFunctionEndpointResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountQuotas":{
      "type":"structure",
      "required":[
        "maxTotalArmVCpus",
        "maxTotalRateLimit",
        "maxRevisionsPerFunction",
        "maxEndpointsPerFunction"
      ],
      "members":{
        "maxTotalArmVCpus":{"shape":"AccountQuotasMaxTotalArmVCpusInteger"},
        "maxTotalRateLimit":{"shape":"AccountQuotasMaxTotalRateLimitInteger"},
        "maxRevisionsPerFunction":{"shape":"AccountQuotasMaxRevisionsPerFunctionInteger"},
        "maxEndpointsPerFunction":{"shape":"AccountQuotasMaxEndpointsPerFunctionInteger"}
      }
    },
    "AccountQuotasMaxEndpointsPerFunctionInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "AccountQuotasMaxRevisionsPerFunctionInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "AccountQuotasMaxTotalArmVCpusInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "AccountQuotasMaxTotalRateLimitInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "AccountUsage":{
      "type":"structure",
      "required":["functionCount"],
      "members":{
        "functionCount":{"shape":"AccountUsageFunctionCountInteger"}
      }
    },
    "AccountUsageFunctionCountInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "ApplicationLogLevel":{
      "type":"string",
      "enum":[
        "TRACE",
        "DEBUG",
        "INFO",
        "WARN",
        "ERROR",
        "FATAL"
      ]
    },
    "AuthType":{
      "type":"string",
      "enum":[
        "ApplicationManaged",
        "IamAuth"
      ]
    },
    "AutoDeploymentMode":{
      "type":"string",
      "enum":[
        "LatestRevision",
        "Disabled"
      ]
    },
    "BuildConfig":{
      "type":"structure",
      "required":[
        "codeConfig",
        "runtimeConfig"
      ],
      "members":{
        "codeConfig":{"shape":"CodeConfig"},
        "runtimeConfig":{"shape":"RuntimeConfig"}
      }
    },
    "CodeConfig":{
      "type":"structure",
      "required":["s3Object"],
      "members":{
        "s3Object":{"shape":"S3Object"}
      }
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateWebFunctionEndpointRequest":{
      "type":"structure",
      "required":[
        "functionName",
        "endpointName",
        "endpointType",
        "authType"
      ],
      "members":{
        "functionName":{
          "shape":"FunctionName",
          "location":"uri",
          "locationName":"functionName"
        },
        "endpointName":{"shape":"EndpointName"},
        "description":{"shape":"Description"},
        "endpointType":{"shape":"EndpointType"},
        "authType":{"shape":"AuthType"},
        "autoDeploymentMode":{"shape":"AutoDeploymentMode"},
        "revisionWeights":{"shape":"RevisionWeightList"},
        "regions":{"shape":"RegionList"},
        "scalingConfig":{"shape":"ScalingConfig"},
        "throttleConfig":{"shape":"ThrottleConfig"}
      }
    },
    "CreateWebFunctionEndpointResponse":{
      "type":"structure",
      "required":[
        "functionArn",
        "endpointArn",
        "endpointName",
        "endpointType",
        "domainName",
        "authType",
        "autoDeploymentMode",
        "revisionWeights",
        "regions",
        "state",
        "stateReason",
        "regionalEndpoints",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "functionArn":{"shape":"FunctionArn"},
        "endpointArn":{"shape":"EndpointArn"},
        "endpointName":{"shape":"EndpointName"},
        "description":{"shape":"Description"},
        "endpointType":{"shape":"EndpointType"},
        "domainName":{"shape":"DomainName"},
        "authType":{"shape":"AuthType"},
        "autoDeploymentMode":{"shape":"AutoDeploymentMode"},
        "revisionWeights":{"shape":"RevisionWeightList"},
        "regions":{"shape":"RegionList"},
        "scalingConfig":{"shape":"ScalingConfig"},
        "throttleConfig":{"shape":"ThrottleConfig"},
        "state":{"shape":"EndpointState"},
        "stateReason":{"shape":"String"},
        "updateStatus":{"shape":"EndpointUpdateStatus"},
        "updateStatusReason":{"shape":"String"},
        "regionalEndpoints":{"shape":"RegionalEndpoints"},
        "createdAt":{"shape":"DateTime"},
        "updatedAt":{"shape":"DateTime"}
      }
    },
    "CreateWebFunctionRequest":{
      "type":"structure",
      "required":["functionName"],
      "members":{
        "functionName":{"shape":"FunctionName"},
        "revisionConfig":{"shape":"RevisionConfig"},
        "endpointConfig":{"shape":"EndpointConfig"},
        "tags":{"shape":"Tags"}
      }
    },
    "CreateWebFunctionResponse":{
      "type":"structure",
      "required":[
        "functionName",
        "functionArn",
        "state",
        "stateReason",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "functionName":{"shape":"FunctionName"},
        "functionArn":{"shape":"FunctionArn"},
        "state":{"shape":"FunctionState"},
        "stateReason":{"shape":"String"},
        "createdAt":{"shape":"DateTime"},
        "updatedAt":{"shape":"DateTime"},
        "revision":{"shape":"FunctionRevisionSummary"},
        "endpoint":{"shape":"FunctionEndpointSummary"},
        "tags":{"shape":"Tags"}
      }
    },
    "CreateWebFunctionRevisionRequest":{
      "type":"structure",
      "required":[
        "functionName",
        "buildConfig",
        "serviceConfig"
      ],
      "members":{
        "functionName":{
          "shape":"FunctionName",
          "location":"uri",
          "locationName":"functionName"
        },
        "description":{"shape":"Description"},
        "kmsKeyArn":{"shape":"KmsKeyArn"},
        "buildConfig":{"shape":"BuildConfig"},
        "serviceConfig":{"shape":"ServiceConfig"}
      }
    },
    "CreateWebFunctionRevisionResponse":{
      "type":"structure",
      "required":[
        "functionArn",
        "revisionArn",
        "revisionId",
        "buildConfig",
        "serviceConfig",
        "state",
        "stateReason",
        "createdAt"
      ],
      "members":{
        "functionArn":{"shape":"FunctionArn"},
        "revisionArn":{"shape":"RevisionArn"},
        "revisionId":{"shape":"RevisionId"},
        "description":{"shape":"Description"},
        "kmsKeyArn":{"shape":"KmsKeyArn"},
        "buildConfig":{"shape":"BuildConfig"},
        "serviceConfig":{"shape":"ServiceConfig"},
        "state":{"shape":"RevisionState"},
        "stateReason":{"shape":"String"},
        "errors":{"shape":"RevisionErrors"},
        "createdAt":{"shape":"DateTime"}
      }
    },
    "DateTime":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "DeleteResourcePolicyRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"ResourceArn",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "revisionId":{
          "shape":"PolicyRevisionId",
          "location":"querystring",
          "locationName":"RevisionId"
        }
      }
    },
    "DeleteWebFunctionEndpointRequest":{
      "type":"structure",
      "required":[
        "functionName",
        "endpointName"
      ],
      "members":{
        "functionName":{
          "shape":"FunctionName",
          "location":"uri",
          "locationName":"functionName"
        },
        "endpointName":{
          "shape":"EndpointName",
          "location":"uri",
          "locationName":"endpointName"
        }
      }
    },
    "DeleteWebFunctionRequest":{
      "type":"structure",
      "required":["functionName"],
      "members":{
        "functionName":{
          "shape":"FunctionName",
          "location":"uri",
          "locationName":"functionName"
        }
      }
    },
    "DeleteWebFunctionRevisionRequest":{
      "type":"structure",
      "required":[
        "functionName",
        "revisionId"
      ],
      "members":{
        "functionName":{
          "shape":"FunctionName",
          "location":"uri",
          "locationName":"functionName"
        },
        "revisionId":{
          "shape":"RevisionId",
          "location":"uri",
          "locationName":"revisionId"
        }
      }
    },
    "Description":{
      "type":"string",
      "max":256,
      "min":0
    },
    "DomainName":{
      "type":"string",
      "max":256,
      "min":4,
      "pattern":"([a-z0-9-]+\\.)+[a-z]+"
    },
    "EndpointArn":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "EndpointConfig":{
      "type":"structure",
      "required":[
        "endpointName",
        "endpointType",
        "authType"
      ],
      "members":{
        "endpointName":{"shape":"EndpointName"},
        "description":{"shape":"Description"},
        "endpointType":{"shape":"EndpointType"},
        "authType":{"shape":"AuthType"},
        "autoDeploymentMode":{"shape":"AutoDeploymentMode"},
        "regions":{"shape":"RegionList"},
        "scalingConfig":{"shape":"ScalingConfig"},
        "throttleConfig":{"shape":"ThrottleConfig"}
      }
    },
    "EndpointName":{
      "type":"string",
      "max":256,
      "min":1
    },
    "EndpointState":{
      "type":"string",
      "enum":[
        "Pending",
        "Active",
        "Failed",
        "Deleting"
      ]
    },
    "EndpointType":{
      "type":"string",
      "enum":[
        "HomeRegion",
        "MultiRegion",
        "PerRegion"
      ]
    },
    "EndpointUpdateStatus":{
      "type":"string",
      "enum":[
        "InProgress",
        "Successful",
        "Failed"
      ]
    },
    "EnvironmentVariables":{
      "type":"map",
      "key":{"shape":"EnvironmentVariablesKeyString"},
      "value":{"shape":"EnvironmentVariablesValueString"},
      "sensitive":true
    },
    "EnvironmentVariablesKeyString":{
      "type":"string",
      "min":1,
      "pattern":"[a-zA-Z]([a-zA-Z0-9_])*"
    },
    "EnvironmentVariablesValueString":{
      "type":"string",
      "min":1
    },
    "Filter":{
      "type":"structure",
      "required":[
        "name",
        "values"
      ],
      "members":{
        "name":{"shape":"FilterNameString"},
        "values":{"shape":"FilterValueList"}
      }
    },
    "FilterList":{
      "type":"list",
      "member":{"shape":"Filter"},
      "max":10,
      "min":1
    },
    "FilterNameString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9]+"
    },
    "FilterValueList":{
      "type":"list",
      "member":{"shape":"FilterValueListMemberString"},
      "max":10,
      "min":1
    },
    "FilterValueListMemberString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "FunctionArn":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "FunctionEndpointSummary":{
      "type":"structure",
      "required":[
        "endpointArn",
        "endpointName",
        "endpointType",
        "domainName",
        "authType",
        "autoDeploymentMode",
        "revisionWeights",
        "regions",
        "state",
        "stateReason",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "endpointArn":{"shape":"EndpointArn"},
        "endpointName":{"shape":"EndpointName"},
        "description":{"shape":"Description"},
        "endpointType":{"shape":"EndpointType"},
        "domainName":{"shape":"DomainName"},
        "authType":{"shape":"AuthType"},
        "autoDeploymentMode":{"shape":"AutoDeploymentMode"},
        "revisionWeights":{"shape":"RevisionWeightList"},
        "regions":{"shape":"RegionList"},
        "scalingConfig":{"shape":"ScalingConfig"},
        "throttleConfig":{"shape":"ThrottleConfig"},
        "state":{"shape":"EndpointState"},
        "stateReason":{"shape":"String"},
        "updateStatus":{"shape":"EndpointUpdateStatus"},
        "updateStatusReason":{"shape":"String"},
        "createdAt":{"shape":"DateTime"},
        "updatedAt":{"shape":"DateTime"}
      }
    },
    "FunctionEndpointSummaryList":{
      "type":"list",
      "member":{"shape":"FunctionEndpointSummary"}
    },
    "FunctionName":{
      "type":"string",
      "max":256,
      "min":1
    },
    "FunctionRevisionSummary":{
      "type":"structure",
      "required":[
        "revisionArn",
        "revisionId",
        "state",
        "stateReason",
        "createdAt"
      ],
      "members":{
        "revisionArn":{"shape":"RevisionArn"},
        "revisionId":{"shape":"RevisionId"},
        "description":{"shape":"Description"},
        "state":{"shape":"RevisionState"},
        "stateReason":{"shape":"String"},
        "createdAt":{"shape":"DateTime"}
      }
    },
    "FunctionRevisionSummaryList":{
      "type":"list",
      "member":{"shape":"FunctionRevisionSummary"}
    },
    "FunctionState":{
      "type":"string",
      "enum":[
        "Pending",
        "Active",
        "Failed",
        "Deleting"
      ]
    },
    "FunctionSummary":{
      "type":"structure",
      "required":[
        "functionName",
        "functionArn",
        "state",
        "stateReason",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "functionName":{"shape":"FunctionName"},
        "functionArn":{"shape":"FunctionArn"},
        "state":{"shape":"FunctionState"},
        "stateReason":{"shape":"String"},
        "createdAt":{"shape":"DateTime"},
        "updatedAt":{"shape":"DateTime"}
      }
    },
    "FunctionSummaryList":{
      "type":"list",
      "member":{"shape":"FunctionSummary"}
    },
    "GetResourcePolicyRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"ResourceArn",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "GetResourcePolicyResponse":{
      "type":"structure",
      "required":[
        "policy",
        "revisionId"
      ],
      "members":{
        "policy":{
          "shape":"ResourcePolicy",
          "locationName":"Policy"
        },
        "revisionId":{
          "shape":"PolicyRevisionId",
          "locationName":"RevisionId"
        }
      }
    },
    "GetWebAccountSettingsRequest":{
      "type":"structure",
      "members":{}
    },
    "GetWebAccountSettingsResponse":{
      "type":"structure",
      "required":[
        "accountQuotas",
        "accountUsage"
      ],
      "members":{
        "accountQuotas":{"shape":"AccountQuotas"},
        "accountUsage":{"shape":"AccountUsage"}
      }
    },
    "GetWebFunctionEndpointRequest":{
      "type":"structure",
      "required":[
        "functionName",
        "endpointName"
      ],
      "members":{
        "functionName":{
          "shape":"FunctionName",
          "location":"uri",
          "locationName":"functionName"
        },
        "endpointName":{
          "shape":"EndpointName",
          "location":"uri",
          "locationName":"endpointName"
        }
      }
    },
    "GetWebFunctionEndpointResponse":{
      "type":"structure",
      "required":[
        "functionArn",
        "endpointArn",
        "endpointName",
        "endpointType",
        "domainName",
        "authType",
        "autoDeploymentMode",
        "revisionWeights",
        "regions",
        "state",
        "stateReason",
        "regionalEndpoints",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "functionArn":{"shape":"FunctionArn"},
        "endpointArn":{"shape":"EndpointArn"},
        "endpointName":{"shape":"EndpointName"},
        "description":{"shape":"Description"},
        "endpointType":{"shape":"EndpointType"},
        "domainName":{"shape":"DomainName"},
        "authType":{"shape":"AuthType"},
        "autoDeploymentMode":{"shape":"AutoDeploymentMode"},
        "revisionWeights":{"shape":"RevisionWeightList"},
        "regions":{"shape":"RegionList"},
        "scalingConfig":{"shape":"ScalingConfig"},
        "throttleConfig":{"shape":"ThrottleConfig"},
        "state":{"shape":"EndpointState"},
        "stateReason":{"shape":"String"},
        "updateStatus":{"shape":"EndpointUpdateStatus"},
        "updateStatusReason":{"shape":"String"},
        "regionalEndpoints":{"shape":"RegionalEndpoints"},
        "createdAt":{"shape":"DateTime"},
        "updatedAt":{"shape":"DateTime"}
      }
    },
    "GetWebFunctionRequest":{
      "type":"structure",
      "required":["functionName"],
      "members":{
        "functionName":{
          "shape":"FunctionName",
          "location":"uri",
          "locationName":"functionName"
        }
      }
    },
    "GetWebFunctionResponse":{
      "type":"structure",
      "required":[
        "functionName",
        "functionArn",
        "state",
        "stateReason",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "functionName":{"shape":"FunctionName"},
        "functionArn":{"shape":"FunctionArn"},
        "state":{"shape":"FunctionState"},
        "stateReason":{"shape":"String"},
        "createdAt":{"shape":"DateTime"},
        "updatedAt":{"shape":"DateTime"}
      }
    },
    "GetWebFunctionRevisionRequest":{
      "type":"structure",
      "required":[
        "functionName",
        "revisionId"
      ],
      "members":{
        "functionName":{
          "shape":"FunctionName",
          "location":"uri",
          "locationName":"functionName"
        },
        "revisionId":{
          "shape":"RevisionId",
          "location":"uri",
          "locationName":"revisionId"
        }
      }
    },
    "GetWebFunctionRevisionResponse":{
      "type":"structure",
      "required":[
        "functionArn",
        "revisionArn",
        "revisionId",
        "buildConfig",
        "serviceConfig",
        "state",
        "stateReason",
        "createdAt"
      ],
      "members":{
        "functionArn":{"shape":"FunctionArn"},
        "revisionArn":{"shape":"RevisionArn"},
        "revisionId":{"shape":"RevisionId"},
        "description":{"shape":"Description"},
        "kmsKeyArn":{"shape":"KmsKeyArn"},
        "buildConfig":{"shape":"BuildConfig"},
        "serviceConfig":{"shape":"ServiceConfig"},
        "state":{"shape":"RevisionState"},
        "stateReason":{"shape":"String"},
        "errors":{"shape":"RevisionErrors"},
        "createdAt":{"shape":"DateTime"}
      }
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "KmsKeyArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:(aws[a-z-]*):kms:[a-z0-9-]+:[0-9]{12}:key/[a-z0-9-]+"
    },
    "ListTagsRequest":{
      "type":"structure",
      "required":["resource"],
      "members":{
        "resource":{
          "shape":"ResourceArn",
          "location":"uri",
          "locationName":"resource"
        }
      }
    },
    "ListTagsResponse":{
      "type":"structure",
      "members":{
        "tags":{
          "shape":"Tags",
          "locationName":"Tags"
        }
      }
    },
    "ListWebFunctionEndpointsRequest":{
      "type":"structure",
      "required":["functionName"],
      "members":{
        "functionName":{
          "shape":"FunctionName",
          "location":"uri",
          "locationName":"functionName"
        },
        "filters":{"shape":"FilterList"},
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListWebFunctionEndpointsResponse":{
      "type":"structure",
      "required":["endpoints"],
      "members":{
        "endpoints":{"shape":"FunctionEndpointSummaryList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListWebFunctionRevisionsRequest":{
      "type":"structure",
      "required":["functionName"],
      "members":{
        "functionName":{
          "shape":"FunctionName",
          "location":"uri",
          "locationName":"functionName"
        },
        "filters":{"shape":"FilterList"},
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListWebFunctionRevisionsResponse":{
      "type":"structure",
      "required":["revisions"],
      "members":{
        "revisions":{"shape":"FunctionRevisionSummaryList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListWebFunctionsRequest":{
      "type":"structure",
      "members":{
        "filters":{"shape":"FilterList"},
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListWebFunctionsResponse":{
      "type":"structure",
      "required":["functions"],
      "members":{
        "functions":{"shape":"FunctionSummaryList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "LoggingConfig":{
      "type":"structure",
      "members":{
        "logGroup":{"shape":"LoggingConfigLogGroupString"},
        "applicationLogLevel":{"shape":"ApplicationLogLevel"},
        "systemLogLevel":{"shape":"SystemLogLevel"}
      }
    },
    "LoggingConfigLogGroupString":{
      "type":"string",
      "max":500,
      "min":1,
      "pattern":"[a-zA-Z0-9\\.\\-_/#]+"
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "NextToken":{
      "type":"string",
      "pattern":"[a-f0-9-]{36}"
    },
    "PolicyRevisionId":{
      "type":"string",
      "pattern":"[0-9a-f-]{36}"
    },
    "PutResourcePolicyRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "policy"
      ],
      "members":{
        "resourceArn":{
          "shape":"ResourceArn",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "policy":{
          "shape":"ResourcePolicy",
          "locationName":"Policy"
        },
        "revisionId":{
          "shape":"PolicyRevisionId",
          "locationName":"RevisionId"
        }
      }
    },
    "PutResourcePolicyResponse":{
      "type":"structure",
      "required":[
        "policy",
        "revisionId"
      ],
      "members":{
        "policy":{
          "shape":"ResourcePolicy",
          "locationName":"Policy"
        },
        "revisionId":{
          "shape":"PolicyRevisionId",
          "locationName":"RevisionId"
        }
      }
    },
    "Region":{
      "type":"string",
      "max":50,
      "min":1,
      "pattern":"([a-z]{2,}-){2,}[0-9]"
    },
    "RegionList":{
      "type":"list",
      "member":{"shape":"Region"},
      "max":100,
      "min":1
    },
    "RegionalEndpoint":{
      "type":"structure",
      "required":[
        "authType",
        "revisionWeights",
        "state",
        "stateReason"
      ],
      "members":{
        "domainName":{"shape":"DomainName"},
        "authType":{"shape":"AuthType"},
        "revisionWeights":{"shape":"RevisionWeightList"},
        "scalingConfig":{"shape":"ScalingConfig"},
        "throttleConfig":{"shape":"ThrottleConfig"},
        "state":{"shape":"EndpointState"},
        "stateReason":{"shape":"String"},
        "updateStatus":{"shape":"EndpointUpdateStatus"},
        "updateStatusReason":{"shape":"String"}
      }
    },
    "RegionalEndpoints":{
      "type":"map",
      "key":{"shape":"Region"},
      "value":{"shape":"RegionalEndpoint"}
    },
    "ResourceArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"arn:[^:]+:lambda:[^:]+:\\d{12}:web-function/[^/]+"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ResourcePolicy":{
      "type":"string",
      "max":20480,
      "min":1
    },
    "RevisionArn":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "RevisionConfig":{
      "type":"structure",
      "required":[
        "buildConfig",
        "serviceConfig"
      ],
      "members":{
        "description":{"shape":"Description"},
        "kmsKeyArn":{"shape":"KmsKeyArn"},
        "buildConfig":{"shape":"BuildConfig"},
        "serviceConfig":{"shape":"ServiceConfig"}
      }
    },
    "RevisionError":{
      "type":"structure",
      "required":[
        "attribute",
        "errorCode",
        "errorMessage"
      ],
      "members":{
        "attribute":{"shape":"RevisionErrorAttributeString"},
        "errorCode":{"shape":"RevisionErrorErrorCodeString"},
        "errorMessage":{"shape":"RevisionErrorErrorMessageString"}
      }
    },
    "RevisionErrorAttributeString":{
      "type":"string",
      "max":64,
      "min":1
    },
    "RevisionErrorErrorCodeString":{
      "type":"string",
      "max":64,
      "min":1
    },
    "RevisionErrorErrorMessageString":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "RevisionErrors":{
      "type":"list",
      "member":{"shape":"RevisionError"},
      "max":50,
      "min":1
    },
    "RevisionId":{
      "type":"string",
      "max":256,
      "min":1
    },
    "RevisionState":{
      "type":"string",
      "enum":[
        "Pending",
        "Active",
        "Failed"
      ]
    },
    "RevisionWeight":{
      "type":"structure",
      "required":[
        "revisionId",
        "weight"
      ],
      "members":{
        "revisionId":{"shape":"RevisionId"},
        "weight":{"shape":"RevisionWeightWeightInteger"}
      }
    },
    "RevisionWeightList":{
      "type":"list",
      "member":{"shape":"RevisionWeight"},
      "max":2,
      "min":1
    },
    "RevisionWeightWeightInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "RoleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:(aws[a-z-]*):iam::[0-9]{12}:role/[a-zA-Z0-9+=,.@_/-]+"
    },
    "RuntimeConfig":{
      "type":"structure",
      "required":["runtime"],
      "members":{
        "runtime":{"shape":"RuntimeConfigRuntimeString"}
      }
    },
    "RuntimeConfigRuntimeString":{
      "type":"string",
      "max":30,
      "min":1,
      "pattern":"[a-z][a-z0-9]*(\\.[a-z0-9]+)*"
    },
    "S3Object":{
      "type":"structure",
      "required":[
        "bucket",
        "key"
      ],
      "members":{
        "bucket":{"shape":"S3ObjectBucketString"},
        "key":{"shape":"S3ObjectKeyString"},
        "versionId":{"shape":"S3ObjectVersionIdString"}
      }
    },
    "S3ObjectBucketString":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"([a-z0-9][a-z0-9\\.\\-]{1,61}[a-z0-9])"
    },
    "S3ObjectKeyString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "S3ObjectVersionIdString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "ScalingConfig":{
      "type":"structure",
      "members":{
        "maxEnvironments":{"shape":"ScalingConfigMaxEnvironmentsInteger"}
      }
    },
    "ScalingConfigMaxEnvironmentsInteger":{
      "type":"integer",
      "box":true,
      "max":10000,
      "min":2
    },
    "ServiceConfig":{
      "type":"structure",
      "required":["executionRoleArn"],
      "members":{
        "executionRoleArn":{"shape":"RoleArn"},
        "timeoutSeconds":{"shape":"ServiceConfigTimeoutSecondsInteger"},
        "maxConcurrencyPerEnvironment":{"shape":"ServiceConfigMaxConcurrencyPerEnvironmentInteger"},
        "environmentVariables":{"shape":"EnvironmentVariables"},
        "telemetryConfig":{"shape":"TelemetryConfig"}
      }
    },
    "ServiceConfigMaxConcurrencyPerEnvironmentInteger":{
      "type":"integer",
      "box":true,
      "max":128,
      "min":1
    },
    "ServiceConfigTimeoutSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":900,
      "min":3
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"},
        "serviceCode":{"shape":"String"},
        "quotaCode":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "String":{"type":"string"},
    "SystemLogLevel":{
      "type":"string",
      "enum":[
        "DEBUG",
        "INFO",
        "WARN"
      ]
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9 _\\.:/=+\\-@]+"
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":200,
      "min":1
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "resource",
        "tags"
      ],
      "members":{
        "resource":{
          "shape":"ResourceArn",
          "location":"uri",
          "locationName":"resource"
        },
        "tags":{
          "shape":"Tags",
          "locationName":"Tags"
        }
      }
    },
    "Tags":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagsValueString"},
      "max":200,
      "min":0
    },
    "TagsValueString":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[a-zA-Z0-9 _\\.:/=+\\-@]*"
    },
    "TelemetryConfig":{
      "type":"structure",
      "members":{
        "loggingConfig":{"shape":"LoggingConfig"}
      }
    },
    "ThrottleConfig":{
      "type":"structure",
      "members":{
        "rateLimit":{"shape":"ThrottleConfigRateLimitInteger"}
      }
    },
    "ThrottleConfigRateLimitInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "retryAfterSeconds":{
          "shape":"Integer",
          "location":"header",
          "locationName":"Retry-After"
        },
        "serviceCode":{"shape":"String"},
        "quotaCode":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":true}
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "resource",
        "tagKeys"
      ],
      "members":{
        "resource":{
          "shape":"ResourceArn",
          "location":"uri",
          "locationName":"resource"
        },
        "tagKeys":{
          "shape":"TagKeyList",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UpdateWebFunctionEndpointRequest":{
      "type":"structure",
      "required":[
        "functionName",
        "endpointName"
      ],
      "members":{
        "functionName":{
          "shape":"FunctionName",
          "location":"uri",
          "locationName":"functionName"
        },
        "endpointName":{
          "shape":"EndpointName",
          "location":"uri",
          "locationName":"endpointName"
        },
        "description":{"shape":"Description"},
        "authType":{"shape":"AuthType"},
        "autoDeploymentMode":{"shape":"AutoDeploymentMode"},
        "revisionWeights":{"shape":"RevisionWeightList"},
        "scalingConfig":{"shape":"ScalingConfig"},
        "throttleConfig":{"shape":"ThrottleConfig"}
      }
    },
    "UpdateWebFunctionEndpointResponse":{
      "type":"structure",
      "required":[
        "functionArn",
        "endpointArn",
        "endpointName",
        "endpointType",
        "domainName",
        "authType",
        "autoDeploymentMode",
        "revisionWeights",
        "regions",
        "state",
        "stateReason",
        "regionalEndpoints",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "functionArn":{"shape":"FunctionArn"},
        "endpointArn":{"shape":"EndpointArn"},
        "endpointName":{"shape":"EndpointName"},
        "description":{"shape":"Description"},
        "endpointType":{"shape":"EndpointType"},
        "domainName":{"shape":"DomainName"},
        "authType":{"shape":"AuthType"},
        "autoDeploymentMode":{"shape":"AutoDeploymentMode"},
        "revisionWeights":{"shape":"RevisionWeightList"},
        "regions":{"shape":"RegionList"},
        "scalingConfig":{"shape":"ScalingConfig"},
        "throttleConfig":{"shape":"ThrottleConfig"},
        "state":{"shape":"EndpointState"},
        "stateReason":{"shape":"String"},
        "updateStatus":{"shape":"EndpointUpdateStatus"},
        "updateStatusReason":{"shape":"String"},
        "regionalEndpoints":{"shape":"RegionalEndpoints"},
        "createdAt":{"shape":"DateTime"},
        "updatedAt":{"shape":"DateTime"}
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    }
  }
}
