{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2026-09-21",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"end-user-messaging",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS End User Messaging",
    "serviceId":"EndUserMessaging",
    "signatureVersion":"v4",
    "signingName":"end-user-messaging",
    "uid":"endusermessaging-2026-09-21"
  },
  "operations":{
    "CreateBrandProfile":{
      "name":"CreateBrandProfile",
      "http":{
        "method":"POST",
        "requestUri":"/v1/brand-profiles",
        "responseCode":200
      },
      "input":{"shape":"CreateBrandProfileInput"},
      "output":{"shape":"CreateBrandProfileOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ]
    },
    "CreateBrandProfileAttributes":{
      "name":"CreateBrandProfileAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/v1/brand-profiles/{brandProfileId}/attributes",
        "responseCode":200
      },
      "input":{"shape":"CreateBrandProfileAttributesInput"},
      "output":{"shape":"CreateBrandProfileAttributesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ]
    },
    "CreateBrandProfileFromRegistration":{
      "name":"CreateBrandProfileFromRegistration",
      "http":{
        "method":"POST",
        "requestUri":"/v1/brand-profiles/create-from-registration",
        "responseCode":200
      },
      "input":{"shape":"CreateBrandProfileFromRegistrationInput"},
      "output":{"shape":"CreateBrandProfileFromRegistrationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ]
    },
    "CreateNotifyCodeConfiguration":{
      "name":"CreateNotifyCodeConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/v1/notify-code-configurations",
        "responseCode":200
      },
      "input":{"shape":"CreateNotifyCodeConfigurationInput"},
      "output":{"shape":"CreateNotifyCodeConfigurationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ]
    },
    "CreateRegistrationsFromBrandProfile":{
      "name":"CreateRegistrationsFromBrandProfile",
      "http":{
        "method":"POST",
        "requestUri":"/v1/brand-profiles/{brandProfileId}/create-registrations",
        "responseCode":200
      },
      "input":{"shape":"CreateRegistrationsFromBrandProfileInput"},
      "output":{"shape":"CreateRegistrationsFromBrandProfileOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ]
    },
    "DeleteBrandProfile":{
      "name":"DeleteBrandProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/brand-profiles/{brandProfileId+}",
        "responseCode":200
      },
      "input":{"shape":"DeleteBrandProfileInput"},
      "output":{"shape":"DeleteBrandProfileOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "idempotent":true
    },
    "DeleteBrandProfileAttribute":{
      "name":"DeleteBrandProfileAttribute",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/brand-profiles/{brandProfileId}/attributes/{attributeName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteBrandProfileAttributeInput"},
      "output":{"shape":"DeleteBrandProfileAttributeOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "idempotent":true
    },
    "DeleteNotifyCodeConfiguration":{
      "name":"DeleteNotifyCodeConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/notify-code-configurations/{notifyCodeConfigurationId+}",
        "responseCode":200
      },
      "input":{"shape":"DeleteNotifyCodeConfigurationInput"},
      "output":{"shape":"DeleteNotifyCodeConfigurationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "idempotent":true
    },
    "GetBrandProfile":{
      "name":"GetBrandProfile",
      "http":{
        "method":"GET",
        "requestUri":"/v1/brand-profiles/{brandProfileId+}",
        "responseCode":200
      },
      "input":{"shape":"GetBrandProfileInput"},
      "output":{"shape":"GetBrandProfileOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetBrandProfileAttribute":{
      "name":"GetBrandProfileAttribute",
      "http":{
        "method":"GET",
        "requestUri":"/v1/brand-profiles/{brandProfileId}/attributes/{attributeName}",
        "responseCode":200
      },
      "input":{"shape":"GetBrandProfileAttributeInput"},
      "output":{"shape":"GetBrandProfileAttributeOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetJob":{
      "name":"GetJob",
      "http":{
        "method":"GET",
        "requestUri":"/v1/jobs/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"GetJobInput"},
      "output":{"shape":"Job"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetNotifyCodeConfiguration":{
      "name":"GetNotifyCodeConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/v1/notify-code-configurations/{notifyCodeConfigurationId+}",
        "responseCode":200
      },
      "input":{"shape":"GetNotifyCodeConfigurationInput"},
      "output":{"shape":"GetNotifyCodeConfigurationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListBrandProfileAttributes":{
      "name":"ListBrandProfileAttributes",
      "http":{
        "method":"GET",
        "requestUri":"/v1/brand-profiles/{brandProfileId}/attributes",
        "responseCode":200
      },
      "input":{"shape":"ListBrandProfileAttributesInput"},
      "output":{"shape":"ListBrandProfileAttributesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListBrandProfiles":{
      "name":"ListBrandProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/v1/brand-profiles",
        "responseCode":200
      },
      "input":{"shape":"ListBrandProfilesInput"},
      "output":{"shape":"ListBrandProfilesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListJobs":{
      "name":"ListJobs",
      "http":{
        "method":"GET",
        "requestUri":"/v1/jobs",
        "responseCode":200
      },
      "input":{"shape":"ListJobsInput"},
      "output":{"shape":"ListJobsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListNotifyCodeConfigurations":{
      "name":"ListNotifyCodeConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/v1/notify-code-configurations",
        "responseCode":200
      },
      "input":{"shape":"ListNotifyCodeConfigurationsInput"},
      "output":{"shape":"ListNotifyCodeConfigurationsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListRegistrationsFromBrandProfile":{
      "name":"ListRegistrationsFromBrandProfile",
      "http":{
        "method":"GET",
        "requestUri":"/v1/brand-profiles/{brandProfileId}/registrations",
        "responseCode":200
      },
      "input":{"shape":"ListRegistrationsFromBrandProfileInput"},
      "output":{"shape":"ListRegistrationsFromBrandProfileOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/v1/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "SendNotifyCodeVerification":{
      "name":"SendNotifyCodeVerification",
      "http":{
        "method":"POST",
        "requestUri":"/v1/notify-code-verifications/send",
        "responseCode":200
      },
      "input":{"shape":"SendNotifyCodeVerificationInput"},
      "output":{"shape":"SendNotifyCodeVerificationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "UpdateBrandProfile":{
      "name":"UpdateBrandProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/brand-profiles/{brandProfileId+}",
        "responseCode":200
      },
      "input":{"shape":"UpdateBrandProfileInput"},
      "output":{"shape":"UpdateBrandProfileOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "idempotent":true
    },
    "UpdateBrandProfileAttribute":{
      "name":"UpdateBrandProfileAttribute",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/brand-profiles/{brandProfileId}/attributes/{attributeName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateBrandProfileAttributeInput"},
      "output":{"shape":"UpdateBrandProfileAttributeOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "idempotent":true
    },
    "UpdateBrandProfileFromRegistration":{
      "name":"UpdateBrandProfileFromRegistration",
      "http":{
        "method":"POST",
        "requestUri":"/v1/brand-profiles/{brandProfileId}/update-from-registration",
        "responseCode":200
      },
      "input":{"shape":"UpdateBrandProfileFromRegistrationInput"},
      "output":{"shape":"UpdateBrandProfileFromRegistrationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ]
    },
    "UpdateNotifyCodeConfiguration":{
      "name":"UpdateNotifyCodeConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/notify-code-configurations/{notifyCodeConfigurationId+}",
        "responseCode":200
      },
      "input":{"shape":"UpdateNotifyCodeConfigurationInput"},
      "output":{"shape":"UpdateNotifyCodeConfigurationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "idempotent":true
    },
    "UpdateRegistrationsFromBrandProfile":{
      "name":"UpdateRegistrationsFromBrandProfile",
      "http":{
        "method":"POST",
        "requestUri":"/v1/brand-profiles/{brandProfileId}/update-registrations",
        "responseCode":200
      },
      "input":{"shape":"UpdateRegistrationsFromBrandProfileInput"},
      "output":{"shape":"UpdateRegistrationsFromBrandProfileOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ]
    },
    "ValidateNotifyCodeVerification":{
      "name":"ValidateNotifyCodeVerification",
      "http":{
        "method":"POST",
        "requestUri":"/v1/notify-code-verifications/validate",
        "responseCode":200
      },
      "input":{"shape":"ValidateNotifyCodeVerificationInput"},
      "output":{"shape":"ValidateNotifyCodeVerificationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AmazonResourceName":{
      "type":"string",
      "max":256,
      "min":20,
      "pattern":"arn:[A-Za-z0-9_:/-]+"
    },
    "AttachmentBody":{
      "type":"blob",
      "max":5242880,
      "min":1,
      "sensitive":true
    },
    "Blob":{"type":"blob"},
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BrandProfileAttributeCategory":{
      "type":"string",
      "max":64,
      "min":1
    },
    "BrandProfileAttributeDescription":{
      "type":"string",
      "max":1024,
      "min":0,
      "sensitive":true
    },
    "BrandProfileAttributeInput":{
      "type":"structure",
      "required":[
        "attributeName",
        "attributeType"
      ],
      "members":{
        "attributeName":{"shape":"BrandProfileAttributeName"},
        "attributeType":{"shape":"BrandProfileAttributeType"},
        "attributeValue":{"shape":"BrandProfileAttributeValue"},
        "attachmentBody":{"shape":"AttachmentBody"},
        "description":{"shape":"BrandProfileAttributeDescription"},
        "category":{"shape":"BrandProfileAttributeCategory"}
      }
    },
    "BrandProfileAttributeInputList":{
      "type":"list",
      "member":{"shape":"BrandProfileAttributeInput"},
      "max":10,
      "min":1
    },
    "BrandProfileAttributeName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_ -]*[A-Za-z0-9_-][A-Za-z0-9_ -]*",
      "sensitive":true
    },
    "BrandProfileAttributeOutput":{
      "type":"structure",
      "required":[
        "attributeName",
        "attributeType"
      ],
      "members":{
        "attributeName":{"shape":"BrandProfileAttributeName"},
        "attributeType":{"shape":"BrandProfileAttributeType"},
        "mediaDownloadUrl":{"shape":"MediaDownloadUrl"}
      }
    },
    "BrandProfileAttributeOutputList":{
      "type":"list",
      "member":{"shape":"BrandProfileAttributeOutput"},
      "max":10,
      "min":1
    },
    "BrandProfileAttributeSummary":{
      "type":"structure",
      "required":[
        "attributeName",
        "attributeType",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "attributeName":{"shape":"BrandProfileAttributeName"},
        "attributeType":{"shape":"BrandProfileAttributeType"},
        "description":{"shape":"BrandProfileAttributeDescription"},
        "category":{"shape":"BrandProfileAttributeCategory"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "BrandProfileAttributeSummaryList":{
      "type":"list",
      "member":{"shape":"BrandProfileAttributeSummary"},
      "max":100,
      "min":0
    },
    "BrandProfileAttributeType":{
      "type":"string",
      "enum":[
        "TEXT",
        "IMAGE",
        "DOCUMENT"
      ]
    },
    "BrandProfileAttributeValue":{
      "type":"string",
      "max":4096,
      "min":0,
      "sensitive":true
    },
    "BrandProfileIdOrArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/-]+"
    },
    "BrandProfileInfo":{
      "type":"structure",
      "required":[
        "brandProfileId",
        "brandProfileArn",
        "brandProfileName",
        "status",
        "deletionProtectionEnabled",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "brandProfileId":{"shape":"BrandProfileIdOrArn"},
        "brandProfileArn":{"shape":"AmazonResourceName"},
        "brandProfileName":{"shape":"BrandProfileName"},
        "status":{"shape":"Status"},
        "deletionProtectionEnabled":{"shape":"Boolean"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "BrandProfileInfoList":{
      "type":"list",
      "member":{"shape":"BrandProfileInfo"},
      "max":100,
      "min":0
    },
    "BrandProfileName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9_ -]*[A-Za-z0-9_-][A-Za-z0-9_ -]*"
    },
    "ChannelParameters":{
      "type":"structure",
      "members":{
        "text":{"shape":"TextParameters"},
        "voice":{"shape":"VoiceParameters"},
        "notify":{"shape":"NotifyParameters"},
        "whatsApp":{"shape":"WhatsAppParameters"}
      }
    },
    "ClientToken":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\x21-\\x7E]+",
      "sensitive":true
    },
    "CodeConfigurationParameters":{
      "type":"structure",
      "members":{
        "codeType":{"shape":"CodeType"},
        "codeLength":{"shape":"CodeLength"},
        "validityPeriodMinutes":{"shape":"ValidityPeriodMinutes"},
        "maxAttempts":{"shape":"MaxVerificationAttempts"}
      }
    },
    "CodeLength":{
      "type":"integer",
      "box":true,
      "max":8,
      "min":4
    },
    "CodeType":{
      "type":"string",
      "enum":[
        "NUMERIC",
        "ALPHA",
        "ALPHANUMERIC"
      ]
    },
    "ConfigurationSetName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_-]+"
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ContextKey":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"\\S+",
      "sensitive":true
    },
    "ContextMap":{
      "type":"map",
      "key":{"shape":"ContextKey"},
      "value":{"shape":"ContextValue"},
      "max":5,
      "min":0
    },
    "ContextValue":{
      "type":"string",
      "max":800,
      "min":1,
      "pattern":"\\S(?:[\\s\\S]*\\S)?",
      "sensitive":true
    },
    "CreateBrandProfileAttributesInput":{
      "type":"structure",
      "required":[
        "brandProfileId",
        "attributes"
      ],
      "members":{
        "brandProfileId":{
          "shape":"BrandProfileIdOrArn",
          "location":"uri",
          "locationName":"brandProfileId"
        },
        "attributes":{"shape":"BrandProfileAttributeInputList"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateBrandProfileAttributesOutput":{
      "type":"structure",
      "required":["attributes"],
      "members":{
        "attributes":{"shape":"BrandProfileAttributeOutputList"}
      }
    },
    "CreateBrandProfileFromRegistrationInput":{
      "type":"structure",
      "required":[
        "registrationId",
        "brandProfileName"
      ],
      "members":{
        "registrationId":{"shape":"RegistrationIdOrArn"},
        "brandProfileName":{"shape":"BrandProfileName"},
        "smartMatch":{"shape":"Boolean"},
        "tags":{"shape":"TagList"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateBrandProfileFromRegistrationOutput":{
      "type":"structure",
      "required":["results"],
      "members":{
        "results":{"shape":"JobResults"}
      }
    },
    "CreateBrandProfileInput":{
      "type":"structure",
      "required":["brandProfileName"],
      "members":{
        "brandProfileName":{"shape":"BrandProfileName"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "deletionProtectionEnabled":{"shape":"Boolean"},
        "tags":{"shape":"TagList"}
      }
    },
    "CreateBrandProfileOutput":{
      "type":"structure",
      "required":[
        "brandProfileId",
        "brandProfileArn",
        "brandProfileName",
        "status",
        "deletionProtectionEnabled",
        "createdAt",
        "updatedAt",
        "attributesCreated"
      ],
      "members":{
        "brandProfileId":{"shape":"BrandProfileIdOrArn"},
        "brandProfileArn":{"shape":"AmazonResourceName"},
        "brandProfileName":{"shape":"BrandProfileName"},
        "status":{"shape":"Status"},
        "deletionProtectionEnabled":{"shape":"Boolean"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "attributesCreated":{"shape":"Integer"}
      }
    },
    "CreateNotifyCodeConfigurationInput":{
      "type":"structure",
      "required":["notifyCodeConfigurationName"],
      "members":{
        "notifyCodeConfigurationName":{"shape":"NotifyCodeConfigurationName"},
        "codeConfigurationParameters":{"shape":"CodeConfigurationParameters"},
        "channelParameters":{"shape":"ChannelParameters"},
        "deletionProtectionEnabled":{"shape":"Boolean"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "tags":{"shape":"TagList"}
      }
    },
    "CreateNotifyCodeConfigurationOutput":{
      "type":"structure",
      "required":["notifyCodeConfiguration"],
      "members":{
        "notifyCodeConfiguration":{"shape":"NotifyCodeConfiguration"}
      }
    },
    "CreateRegistrationsFromBrandProfileInput":{
      "type":"structure",
      "required":[
        "brandProfileId",
        "registrationTypes"
      ],
      "members":{
        "brandProfileId":{
          "shape":"BrandProfileIdOrArn",
          "location":"uri",
          "locationName":"brandProfileId"
        },
        "registrationTypes":{"shape":"RegistrationTypeList"},
        "smartMatch":{"shape":"Boolean"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateRegistrationsFromBrandProfileOutput":{
      "type":"structure",
      "required":["results"],
      "members":{
        "results":{"shape":"JobResults"}
      }
    },
    "DeleteBrandProfileAttributeInput":{
      "type":"structure",
      "required":[
        "brandProfileId",
        "attributeName"
      ],
      "members":{
        "brandProfileId":{
          "shape":"BrandProfileIdOrArn",
          "location":"uri",
          "locationName":"brandProfileId"
        },
        "attributeName":{
          "shape":"BrandProfileAttributeName",
          "location":"uri",
          "locationName":"attributeName"
        }
      }
    },
    "DeleteBrandProfileAttributeOutput":{
      "type":"structure",
      "required":[
        "brandProfileId",
        "attributeName"
      ],
      "members":{
        "brandProfileId":{"shape":"BrandProfileIdOrArn"},
        "attributeName":{"shape":"BrandProfileAttributeName"}
      }
    },
    "DeleteBrandProfileInput":{
      "type":"structure",
      "required":["brandProfileId"],
      "members":{
        "brandProfileId":{
          "shape":"BrandProfileIdOrArn",
          "location":"uri",
          "locationName":"brandProfileId"
        }
      }
    },
    "DeleteBrandProfileOutput":{
      "type":"structure",
      "required":[
        "brandProfileId",
        "brandProfileArn"
      ],
      "members":{
        "brandProfileId":{"shape":"BrandProfileIdOrArn"},
        "brandProfileArn":{"shape":"AmazonResourceName"}
      }
    },
    "DeleteNotifyCodeConfigurationInput":{
      "type":"structure",
      "required":["notifyCodeConfigurationId"],
      "members":{
        "notifyCodeConfigurationId":{
          "shape":"NotifyCodeConfigurationIdOrArn",
          "location":"uri",
          "locationName":"notifyCodeConfigurationId"
        }
      }
    },
    "DeleteNotifyCodeConfigurationOutput":{
      "type":"structure",
      "members":{}
    },
    "DestinationCountryParameterKey":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"\\S+"
    },
    "DestinationCountryParameterValue":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"\\S+",
      "sensitive":true
    },
    "DestinationCountryParameters":{
      "type":"map",
      "key":{"shape":"DestinationCountryParameterKey"},
      "value":{"shape":"DestinationCountryParameterValue"},
      "max":10,
      "min":1
    },
    "DestinationIdentity":{
      "type":"string",
      "max":20,
      "min":1,
      "pattern":"[\\x21-\\x22\\x24-\\x7E]+",
      "sensitive":true
    },
    "GetBrandProfileAttributeInput":{
      "type":"structure",
      "required":[
        "brandProfileId",
        "attributeName"
      ],
      "members":{
        "brandProfileId":{
          "shape":"BrandProfileIdOrArn",
          "location":"uri",
          "locationName":"brandProfileId"
        },
        "attributeName":{
          "shape":"BrandProfileAttributeName",
          "location":"uri",
          "locationName":"attributeName"
        }
      }
    },
    "GetBrandProfileAttributeOutput":{
      "type":"structure",
      "required":[
        "attributeName",
        "attributeType",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "attributeName":{"shape":"BrandProfileAttributeName"},
        "attributeType":{"shape":"BrandProfileAttributeType"},
        "attributeValue":{"shape":"BrandProfileAttributeValue"},
        "description":{"shape":"BrandProfileAttributeDescription"},
        "category":{"shape":"BrandProfileAttributeCategory"},
        "mediaContentType":{"shape":"String"},
        "mediaSizeBytes":{"shape":"Long"},
        "mediaDownloadUrl":{"shape":"MediaDownloadUrl"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "GetBrandProfileInput":{
      "type":"structure",
      "required":["brandProfileId"],
      "members":{
        "brandProfileId":{
          "shape":"BrandProfileIdOrArn",
          "location":"uri",
          "locationName":"brandProfileId"
        }
      }
    },
    "GetBrandProfileOutput":{
      "type":"structure",
      "required":[
        "brandProfileId",
        "brandProfileArn",
        "brandProfileName",
        "status",
        "deletionProtectionEnabled",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "brandProfileId":{"shape":"BrandProfileIdOrArn"},
        "brandProfileArn":{"shape":"AmazonResourceName"},
        "brandProfileName":{"shape":"BrandProfileName"},
        "status":{"shape":"Status"},
        "deletionProtectionEnabled":{"shape":"Boolean"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "GetJobInput":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{
          "shape":"JobId",
          "location":"uri",
          "locationName":"jobId"
        }
      }
    },
    "GetNotifyCodeConfigurationInput":{
      "type":"structure",
      "required":["notifyCodeConfigurationId"],
      "members":{
        "notifyCodeConfigurationId":{
          "shape":"NotifyCodeConfigurationIdOrArn",
          "location":"uri",
          "locationName":"notifyCodeConfigurationId"
        }
      }
    },
    "GetNotifyCodeConfigurationOutput":{
      "type":"structure",
      "required":["notifyCodeConfiguration"],
      "members":{
        "notifyCodeConfiguration":{"shape":"NotifyCodeConfiguration"}
      }
    },
    "InlineTemplateBody":{
      "type":"string",
      "max":6000,
      "min":1,
      "pattern":"[\\s\\S]*\\S[\\s\\S]*",
      "sensitive":true
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "Job":{
      "type":"structure",
      "required":[
        "jobId",
        "status",
        "operationType",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "jobId":{"shape":"JobId"},
        "status":{"shape":"JobStatus"},
        "operationType":{"shape":"JobOperationType"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "brandProfileId":{"shape":"BrandProfileIdOrArn"},
        "errorCode":{"shape":"JobErrorCode"},
        "errorMessage":{"shape":"JobErrorMessage"},
        "resources":{"shape":"JobResourceList"}
      }
    },
    "JobErrorCode":{
      "type":"string",
      "max":128,
      "min":1
    },
    "JobErrorMessage":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "JobId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9_-]+"
    },
    "JobOperationType":{
      "type":"string",
      "max":128,
      "min":1
    },
    "JobResource":{
      "type":"structure",
      "required":[
        "resourceType",
        "resourceId",
        "resourceArn"
      ],
      "members":{
        "resourceType":{"shape":"JobResourceType"},
        "resourceId":{"shape":"JobResourceId"},
        "resourceArn":{"shape":"AmazonResourceName"}
      }
    },
    "JobResourceId":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/-]+"
    },
    "JobResourceIdentifier":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[\\S]+"
    },
    "JobResourceList":{
      "type":"list",
      "member":{"shape":"JobResource"},
      "max":10,
      "min":1
    },
    "JobResourceType":{
      "type":"string",
      "enum":[
        "REGISTRATION",
        "BRAND_PROFILE"
      ]
    },
    "JobResult":{
      "type":"structure",
      "required":[
        "jobId",
        "resourceIdentifier"
      ],
      "members":{
        "jobId":{"shape":"JobId"},
        "resourceIdentifier":{"shape":"JobResourceIdentifier"}
      }
    },
    "JobResults":{
      "type":"list",
      "member":{"shape":"JobResult"},
      "max":10,
      "min":1
    },
    "JobStatus":{
      "type":"string",
      "enum":[
        "SUCCESS",
        "PROCESSING",
        "FAILED"
      ]
    },
    "JobSummary":{
      "type":"structure",
      "required":[
        "jobId",
        "status",
        "operationType",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "jobId":{"shape":"JobId"},
        "status":{"shape":"JobStatus"},
        "operationType":{"shape":"JobOperationType"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "brandProfileId":{"shape":"BrandProfileIdOrArn"},
        "errorCode":{"shape":"JobErrorCode"},
        "errorMessage":{"shape":"JobErrorMessage"},
        "resources":{"shape":"JobResourceList"}
      }
    },
    "JobSummaryList":{
      "type":"list",
      "member":{"shape":"JobSummary"},
      "max":100,
      "min":0
    },
    "LanguageCode":{
      "type":"string",
      "max":35,
      "min":2,
      "pattern":"\\S+"
    },
    "ListBrandProfileAttributesInput":{
      "type":"structure",
      "required":["brandProfileId"],
      "members":{
        "brandProfileId":{
          "shape":"BrandProfileIdOrArn",
          "location":"uri",
          "locationName":"brandProfileId"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListBrandProfileAttributesOutput":{
      "type":"structure",
      "required":["brandProfileAttributes"],
      "members":{
        "brandProfileAttributes":{"shape":"BrandProfileAttributeSummaryList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListBrandProfilesInput":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListBrandProfilesOutput":{
      "type":"structure",
      "required":["brandProfiles"],
      "members":{
        "brandProfiles":{"shape":"BrandProfileInfoList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListJobsInput":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "status":{
          "shape":"JobStatus",
          "location":"querystring",
          "locationName":"status"
        },
        "brandProfileId":{
          "shape":"BrandProfileIdOrArn",
          "location":"querystring",
          "locationName":"brandProfileId"
        },
        "operationType":{
          "shape":"JobOperationType",
          "location":"querystring",
          "locationName":"operationType"
        }
      }
    },
    "ListJobsOutput":{
      "type":"structure",
      "required":["jobs"],
      "members":{
        "jobs":{"shape":"JobSummaryList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListNotifyCodeConfigurationsInput":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListNotifyCodeConfigurationsOutput":{
      "type":"structure",
      "required":["notifyCodeConfigurations"],
      "members":{
        "notifyCodeConfigurations":{"shape":"NotifyCodeConfigurationList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListRegistrationsFromBrandProfileInput":{
      "type":"structure",
      "required":["brandProfileId"],
      "members":{
        "brandProfileId":{
          "shape":"BrandProfileIdOrArn",
          "location":"uri",
          "locationName":"brandProfileId"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListRegistrationsFromBrandProfileOutput":{
      "type":"structure",
      "required":["registrationAssociations"],
      "members":{
        "registrationAssociations":{"shape":"RegistrationAssociationSummaryList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListTagsForResourceInput":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"AmazonResourceName",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "ListTagsForResourceOutput":{
      "type":"structure",
      "members":{
        "tags":{"shape":"TagList"}
      }
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "MaxVerificationAttempts":{
      "type":"integer",
      "box":true,
      "max":5,
      "min":1
    },
    "MediaDownloadUrl":{
      "type":"string",
      "max":4096,
      "min":1,
      "sensitive":true
    },
    "MessageId":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/-]+"
    },
    "NextToken":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":".+"
    },
    "NotifyChannel":{
      "type":"string",
      "enum":[
        "TEXT",
        "VOICE",
        "WHATSAPP"
      ]
    },
    "NotifyCodeConfiguration":{
      "type":"structure",
      "required":[
        "notifyCodeConfigurationId",
        "notifyCodeConfigurationArn",
        "notifyCodeConfigurationName",
        "deletionProtectionEnabled",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "notifyCodeConfigurationId":{"shape":"NotifyCodeConfigurationId"},
        "notifyCodeConfigurationArn":{"shape":"AmazonResourceName"},
        "notifyCodeConfigurationName":{"shape":"NotifyCodeConfigurationName"},
        "codeConfigurationParameters":{"shape":"CodeConfigurationParameters"},
        "channelParameters":{"shape":"ChannelParameters"},
        "deletionProtectionEnabled":{"shape":"Boolean"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "NotifyCodeConfigurationId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9_-]+"
    },
    "NotifyCodeConfigurationIdOrArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/-]+"
    },
    "NotifyCodeConfigurationList":{
      "type":"list",
      "member":{"shape":"NotifyCodeConfiguration"}
    },
    "NotifyCodeConfigurationName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9_ -]*[A-Za-z0-9_-][A-Za-z0-9_ -]*"
    },
    "NotifyParameters":{
      "type":"structure",
      "members":{
        "notifyTemplateId":{"shape":"NotifyTemplateId"},
        "voiceId":{"shape":"VoiceId"}
      }
    },
    "NotifyTemplateId":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_-]+"
    },
    "OnAttributeConflict":{
      "type":"string",
      "enum":[
        "REPLACE",
        "PRESERVE"
      ]
    },
    "OriginationIdentity":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/+-]+"
    },
    "ReferenceId":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_-]+"
    },
    "RegistrationAssociationSummary":{
      "type":"structure",
      "required":[
        "registrationId",
        "registrationType",
        "createdAt",
        "smartMatchUsed"
      ],
      "members":{
        "registrationId":{"shape":"RegistrationId"},
        "registrationType":{"shape":"RegistrationType"},
        "createdAt":{"shape":"Timestamp"},
        "smartMatchUsed":{"shape":"Boolean"}
      }
    },
    "RegistrationAssociationSummaryList":{
      "type":"list",
      "member":{"shape":"RegistrationAssociationSummary"},
      "max":100,
      "min":0
    },
    "RegistrationId":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_-]+"
    },
    "RegistrationIdList":{
      "type":"list",
      "member":{"shape":"RegistrationIdOrArn"},
      "max":10,
      "min":1
    },
    "RegistrationIdOrArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/-]+"
    },
    "RegistrationType":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9_]+"
    },
    "RegistrationTypeList":{
      "type":"list",
      "member":{"shape":"RegistrationType"},
      "max":10,
      "min":1
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "SendNotifyCodeVerificationInput":{
      "type":"structure",
      "required":[
        "channel",
        "destinationIdentity",
        "originationIdentity"
      ],
      "members":{
        "channel":{"shape":"NotifyChannel"},
        "destinationIdentity":{"shape":"DestinationIdentity"},
        "originationIdentity":{"shape":"OriginationIdentity"},
        "notifyCodeConfiguration":{"shape":"NotifyCodeConfigurationIdOrArn"},
        "overrideChannelParameters":{"shape":"ChannelParameters"},
        "overrideCodeConfigurationParameters":{"shape":"CodeConfigurationParameters"},
        "configurationSetName":{"shape":"ConfigurationSetName"},
        "context":{"shape":"ContextMap"},
        "referenceId":{"shape":"ReferenceId"}
      }
    },
    "SendNotifyCodeVerificationOutput":{
      "type":"structure",
      "required":[
        "verificationId",
        "messageId"
      ],
      "members":{
        "verificationId":{"shape":"VerificationId"},
        "messageId":{"shape":"MessageId"}
      }
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Status":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "BLOCKED",
        "PAUSED",
        "CANCELLED",
        "FAILED"
      ]
    },
    "String":{"type":"string"},
    "Tag":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{"shape":"TagKey"},
        "value":{"shape":"TagValue"}
      }
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":".+"
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":50,
      "min":0
    },
    "TagResourceInput":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tags"
      ],
      "members":{
        "resourceArn":{
          "shape":"AmazonResourceName",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tags":{"shape":"TagResourceInputTagsList"}
      }
    },
    "TagResourceInputTagsList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":50,
      "min":1
    },
    "TagResourceOutput":{
      "type":"structure",
      "members":{}
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":".*"
    },
    "TextParameters":{
      "type":"structure",
      "members":{
        "inlineTemplateBody":{"shape":"InlineTemplateBody"},
        "destinationCountryParameters":{"shape":"DestinationCountryParameters"}
      }
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":true}
    },
    "Timestamp":{"type":"timestamp"},
    "UntagResourceInput":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tagKeys"
      ],
      "members":{
        "resourceArn":{
          "shape":"AmazonResourceName",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tagKeys":{
          "shape":"UntagResourceInputTagKeysList",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UntagResourceInputTagKeysList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "min":1
    },
    "UntagResourceOutput":{
      "type":"structure",
      "members":{}
    },
    "UpdateBrandProfileAttributeInput":{
      "type":"structure",
      "required":[
        "brandProfileId",
        "attributeName"
      ],
      "members":{
        "brandProfileId":{
          "shape":"BrandProfileIdOrArn",
          "location":"uri",
          "locationName":"brandProfileId"
        },
        "attributeName":{
          "shape":"BrandProfileAttributeName",
          "location":"uri",
          "locationName":"attributeName"
        },
        "attributeValue":{"shape":"BrandProfileAttributeValue"},
        "attachmentBody":{"shape":"Blob"},
        "description":{"shape":"BrandProfileAttributeDescription"},
        "category":{"shape":"BrandProfileAttributeCategory"}
      }
    },
    "UpdateBrandProfileAttributeOutput":{
      "type":"structure",
      "required":[
        "attributeName",
        "attributeType",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "attributeName":{"shape":"BrandProfileAttributeName"},
        "attributeType":{"shape":"BrandProfileAttributeType"},
        "attributeValue":{"shape":"BrandProfileAttributeValue"},
        "description":{"shape":"BrandProfileAttributeDescription"},
        "category":{"shape":"BrandProfileAttributeCategory"},
        "mediaContentType":{"shape":"String"},
        "mediaSizeBytes":{"shape":"Long"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "UpdateBrandProfileFromRegistrationInput":{
      "type":"structure",
      "required":[
        "brandProfileId",
        "registrationId"
      ],
      "members":{
        "brandProfileId":{
          "shape":"BrandProfileIdOrArn",
          "location":"uri",
          "locationName":"brandProfileId"
        },
        "registrationId":{"shape":"RegistrationIdOrArn"},
        "smartMatch":{"shape":"Boolean"},
        "onAttributeConflict":{"shape":"OnAttributeConflict"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "UpdateBrandProfileFromRegistrationOutput":{
      "type":"structure",
      "required":["results"],
      "members":{
        "results":{"shape":"JobResults"}
      }
    },
    "UpdateBrandProfileInput":{
      "type":"structure",
      "required":["brandProfileId"],
      "members":{
        "brandProfileId":{
          "shape":"BrandProfileIdOrArn",
          "location":"uri",
          "locationName":"brandProfileId"
        },
        "brandProfileName":{"shape":"BrandProfileName"},
        "deletionProtectionEnabled":{"shape":"Boolean"}
      }
    },
    "UpdateBrandProfileOutput":{
      "type":"structure",
      "required":[
        "brandProfileId",
        "brandProfileArn",
        "brandProfileName",
        "status",
        "deletionProtectionEnabled",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "brandProfileId":{"shape":"BrandProfileIdOrArn"},
        "brandProfileArn":{"shape":"AmazonResourceName"},
        "brandProfileName":{"shape":"BrandProfileName"},
        "status":{"shape":"Status"},
        "deletionProtectionEnabled":{"shape":"Boolean"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "UpdateChannelParameters":{
      "type":"structure",
      "members":{
        "text":{"shape":"UpdateTextParameters"},
        "voice":{"shape":"UpdateVoiceParameters"},
        "notify":{"shape":"UpdateNotifyParameters"},
        "whatsApp":{"shape":"UpdateWhatsAppParameters"}
      }
    },
    "UpdateCodeConfigurationParameters":{
      "type":"structure",
      "members":{
        "codeType":{"shape":"CodeType"},
        "codeLength":{"shape":"CodeLength"},
        "validityPeriodMinutes":{"shape":"ValidityPeriodMinutes"},
        "maxAttempts":{"shape":"MaxVerificationAttempts"}
      }
    },
    "UpdateDestinationCountryParameters":{
      "type":"map",
      "key":{"shape":"DestinationCountryParameterKey"},
      "value":{"shape":"DestinationCountryParameterValue"},
      "max":10,
      "min":0
    },
    "UpdateInlineTemplateBody":{
      "type":"string",
      "max":6000,
      "min":0,
      "pattern":"([\\s\\S]*\\S[\\s\\S]*)?",
      "sensitive":true
    },
    "UpdateLanguageCode":{
      "type":"string",
      "max":35,
      "min":0,
      "pattern":"(\\S{2,35})?"
    },
    "UpdateNotifyCodeConfigurationInput":{
      "type":"structure",
      "required":["notifyCodeConfigurationId"],
      "members":{
        "notifyCodeConfigurationId":{
          "shape":"NotifyCodeConfigurationIdOrArn",
          "location":"uri",
          "locationName":"notifyCodeConfigurationId"
        },
        "notifyCodeConfigurationName":{"shape":"NotifyCodeConfigurationName"},
        "codeConfigurationParameters":{"shape":"UpdateCodeConfigurationParameters"},
        "channelParameters":{"shape":"UpdateChannelParameters"},
        "deletionProtectionEnabled":{"shape":"Boolean"}
      }
    },
    "UpdateNotifyCodeConfigurationOutput":{
      "type":"structure",
      "required":["notifyCodeConfiguration"],
      "members":{
        "notifyCodeConfiguration":{"shape":"NotifyCodeConfiguration"}
      }
    },
    "UpdateNotifyParameters":{
      "type":"structure",
      "members":{
        "notifyTemplateId":{"shape":"UpdateNotifyTemplateId"},
        "voiceId":{"shape":"UpdateVoiceId"}
      }
    },
    "UpdateNotifyTemplateId":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[A-Za-z0-9_-]*"
    },
    "UpdateRegistrationsFromBrandProfileInput":{
      "type":"structure",
      "required":[
        "brandProfileId",
        "registrationIds"
      ],
      "members":{
        "brandProfileId":{
          "shape":"BrandProfileIdOrArn",
          "location":"uri",
          "locationName":"brandProfileId"
        },
        "registrationIds":{"shape":"RegistrationIdList"},
        "smartMatch":{"shape":"Boolean"},
        "onAttributeConflict":{"shape":"OnAttributeConflict"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "UpdateRegistrationsFromBrandProfileOutput":{
      "type":"structure",
      "required":["results"],
      "members":{
        "results":{"shape":"JobResults"}
      }
    },
    "UpdateTextParameters":{
      "type":"structure",
      "members":{
        "inlineTemplateBody":{"shape":"UpdateInlineTemplateBody"},
        "destinationCountryParameters":{"shape":"UpdateDestinationCountryParameters"}
      }
    },
    "UpdateVoiceId":{
      "type":"string",
      "max":64,
      "min":0,
      "pattern":"[A-Za-z0-9]*"
    },
    "UpdateVoiceParameters":{
      "type":"structure",
      "members":{
        "inlineTemplateBody":{"shape":"UpdateInlineTemplateBody"},
        "languageCode":{"shape":"UpdateLanguageCode"},
        "voiceId":{"shape":"UpdateVoiceId"},
        "voiceMessageBodyTextType":{"shape":"VoiceMessageBodyTextType"}
      }
    },
    "UpdateWhatsAppParameters":{
      "type":"structure",
      "members":{
        "whatsAppTemplateName":{"shape":"UpdateWhatsAppTemplateName"},
        "languageCode":{"shape":"UpdateLanguageCode"}
      }
    },
    "UpdateWhatsAppTemplateName":{
      "type":"string",
      "max":512,
      "min":0,
      "pattern":"\\S*"
    },
    "ValidateNotifyCodeVerificationInput":{
      "type":"structure",
      "required":[
        "destinationIdentity",
        "code"
      ],
      "members":{
        "destinationIdentity":{"shape":"DestinationIdentity"},
        "referenceId":{"shape":"ReferenceId"},
        "code":{"shape":"VerificationCode"}
      }
    },
    "ValidateNotifyCodeVerificationOutput":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{"shape":"VerificationStatus"}
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "fieldList":{"shape":"ValidationExceptionFieldList"}
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "path",
        "message"
      ],
      "members":{
        "path":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidityPeriodMinutes":{
      "type":"integer",
      "box":true,
      "max":60,
      "min":1
    },
    "VerificationCode":{
      "type":"string",
      "max":8,
      "min":4,
      "pattern":"[A-Za-z0-9]+",
      "sensitive":true
    },
    "VerificationId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9_:/-]+"
    },
    "VerificationStatus":{
      "type":"string",
      "enum":[
        "VALID",
        "INVALID"
      ]
    },
    "VoiceId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9]+"
    },
    "VoiceMessageBodyTextType":{
      "type":"string",
      "enum":[
        "TEXT",
        "SSML"
      ]
    },
    "VoiceParameters":{
      "type":"structure",
      "members":{
        "inlineTemplateBody":{"shape":"InlineTemplateBody"},
        "languageCode":{"shape":"LanguageCode"},
        "voiceId":{"shape":"VoiceId"},
        "voiceMessageBodyTextType":{"shape":"VoiceMessageBodyTextType"}
      }
    },
    "WhatsAppParameters":{
      "type":"structure",
      "members":{
        "whatsAppTemplateName":{"shape":"WhatsAppTemplateName"},
        "languageCode":{"shape":"LanguageCode"}
      }
    },
    "WhatsAppTemplateName":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"\\S+"
    }
  }
}
