name: Build API documentation
permissions:
  contents: read
on:
  pull_request:
    branches:
      - master
jobs:
  build_docs:
    if: github.repository_owner == 'aws'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['8.1']
    name: Build API documentation for PHP ${{ matrix.php-versions }}
    steps:
      - name: Setup PHP with Xdebug
        uses: shivammathur/setup-php@v2
        with:
          coverage: xdebug
          php-version: ${{ matrix.php-versions }}
          ini-values: xdebug.overload_var_dump=0, memory_limit=4G, phar.readonly=false

      - name: Checkout CodeBase
        uses: actions/checkout@v6

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: composer update --no-interaction --prefer-source

      - name: Prepare OS environment
        run: |
          sudo sed -i s/deb.debian.org/archive.debian.org/g /etc/apt/sources.list
          sudo sed -i 's|security.debian.org|archive.debian.org/|g' /etc/apt/sources.list
          sudo sed -i '/stretch-updates/d' /etc/apt/sources.list

          sudo apt-get -y update && \
          sudo apt-get -y install git wget zip unzip libzip-dev libssl-dev libtidy-dev python3 cmake python3-distutils-extra python3-apt

          PHP_CONF_DIR=$(php -i | grep "Scan this dir for additional .ini files" | awk '{print $9}')
          sudo touch "$PHP_CONF_DIR"/memory.ini \
          && sudo chmod 666 "$PHP_CONF_DIR"/memory.ini \
          && sudo echo "memory_limit = 5048M;" >> "$PHP_CONF_DIR"/memory.ini

          sudo touch "$PHP_CONF_DIR"/phar.ini \
          && sudo chmod 666 "$PHP_CONF_DIR"/phar.ini \
          && sudo echo "phar.readonly = Off;" >> "$PHP_CONF_DIR"/phar.ini

          sudo touch "$PHP_CONF_DIR"/timezone.ini \
          && sudo chmod 666 "$PHP_CONF_DIR"/timezone.ini \
          && sudo echo "date.timezone ='America/New_York'" >> "$PHP_CONF_DIR"/timezone.ini

      - name: Run API docs build
        run: |
          make api
